<section class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar banner-escolar" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
        <img src="assets/img/fondo-construccion.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <!-- <p class="titulo-sectores" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">Construcción</p> -->
        <img class="img-encima-sectores" src="assets/img/icono-sectores-construccion.png" alt="" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
        <p class="texto-abajo-sectores-corporativo" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">Notificaciones en vivo <span> de visitas externas a la zona</span> <br>
            <span>Menor carga</span> en puntos de acceso<br> Información en <span> tiempo real</span>
        </p>
        <!-- <div class="centrado">Centrado</div> -->
    </div>


</section>


<section class=" fondo-banner-comofunciona2 top-relleno animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class=" banner-escolar">
        <img src="assets/img/fondo-transparente.png " class="imagen-comofunciona" alt="imagen-nosotros laptop.png">


        <p class="texto-arriba-comofunciona-subtitulo2 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            Si tienes un proyecto de construcción en donde se <br> requiera uno o varios puntos de control <br> de ingreso y salida para:
        </p>
        <img class="img-encima-comofunciona1" src="assets/img/icono-planos4.png" alt="">
        <p class="texto-abajo-comofunciona-icono1">Clientes</p>
        <img class="img-encima-comofunciona2" src="assets/img/icono-planos3.png" alt="">
        <p class="texto-abajo-comofunciona-icono2">Obreros</p>
        <img class="img-encima-comofunciona3" src="assets/img/icono-planos2.png" alt="">
        <p class="texto-abajo-comofunciona-icono3">Asistencia médica</p>
        <img class="img-encima-comofunciona4" src="assets/img/icono-planos1.png" alt="">
        <p class="texto-abajo-comofunciona-icono4-ajuste">Dirección facultiva</p>

        <p class="texto-arriba-comofunciona-subtitulo2-2 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            De no ser así, te ofrecemos gestionar de manera <br> más eficiente estos puntos de acceso bajo una <br> solución que resuelve necesidades de:
        </p>

        <img class="img-encima-comofunciona1-2" src="assets/img/icono-tabla.png" alt="">
        <p class="texto-abajo-comofunciona-icono1-2">Información</p>
        <img class="img-encima-comofunciona2-2" src="assets/img/icono-credencial.png" alt="">
        <p class="texto-abajo-comofunciona-icono2-2">Identificación</p>
        <img class="img-encima-comofunciona3-2" src="assets/img/icono-seguridad.png" alt="">
        <p class="texto-abajo-comofunciona-icono3-2">Seguridad</p>
        <img class="img-encima-comofunciona4-2" src="assets/img/icono-puerta.png" alt="">
        <p class="texto-abajo-comofunciona-icono4-2">Flujo</p>

        <img src="assets/img/fondo-transparente.png " class="imga-banner-escolar" alt=" imagen-nosotros ">



    </div>




</section>








<section class=" fondo-banner-comofunciona top-relleno animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class=" banner-escolar">
        <img src="assets/img/laptop.png " class="imagen-comofunciona" alt="imagen-nosotros laptop.png">
        <!-- <img src="assets/img/laptop.png " class=" img-encima-comofunciona" alt="imagen-nosotros "> -->

        <h1 class="texto-arriba-comofunciona" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">¿Cómo funciona?</h1>
        <p class="texto-arriba-comofunciona-subtitulo" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            La versatilidad del sistema permite diversas opciones <br> para la distribución del código (Invitación vía e-mail o <br> WhatsApp, código dinámico en app para colaboradores, <br> identificación de invitados externos).
        </p>
        <p class="texto-abajo-comofunciona1" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            Con un lector fijo o con un dispositivo móvil (Android o iOS),<br> se lee el código y se permite el acceso a la persona .
        </p>
        <p class="texto-abajo-comofunciona2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
            Cada código de invitación es único e irrepetible, válido para <br> una sola entrada y una sola salida, dentro del horario <br> marcado por el anfitrión.
        </p>

    </div>


</section>