<div class="color-reportes-top">

</div>
<section id="login" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}" class="bottom-login">
    <div class="container ">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="col-md-12">




                    <form class="container top-ques card">
                        <img src="assets/img/iconoEA.png" class="icono-login">
                        <h3 class="text-center">Reporte Desarrollo</h3>
                        <div class="input-group  form-group">
                            <span class="input-group-text" id="basic-addon1">No.Cuenta</span>
                            <input type="text" class="form-control" name="cuenta" ngModel required disabled>
                        </div>
                        <div class="input-group  form-group">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                            <input type="text" class="form-control" name="nombre" ngModel required disabled>
                        </div>
                        <div class="input-group  form-group">
                            <span class="input-group-text" id="basic-addon1">Departamento</span>
                            <input type="text" class="form-control" name="cuenta" ngModel required disabled>
                        </div>
                        <div class="input-group  form-group">
                            <span class="input-group-text" id="basic-addon1">Prioridad</span>
                            <input type="text" class="form-control" name="cuenta" ngModel required disabled>
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-text" id="basic-addon1">Asunto</span>
                            <input type="text" class="form-control" name="asunto" id="" ngModel required disabled>
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" name="mensaje" placeholder="Mensaje recibido..." style="height: 200px" ngModel required disabled></textarea>
                        </div>

                        <div class="centrar-texto seccion">
                            <button type="submit" data-toggle="modal" data-target="#exampleModal" id="btn1" value="submit" name="submit" class="btn btn-primary btn-block boton-login">Responder</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reporte </h5>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Para:</label>
                        <input type="text" class="form-control" id="recipient-name" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Mensaje:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>