<section class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar">
        <img src="assets/img/fondo-residencial.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <!-- <div class="texto-escolar">

            <img src="assets/img/iconEAhd.png" alt="">

            <p><span>Validación de personas autorizadas</span> para recogida de alumnos <br>
                <span>Mayor seguridad</span> para la comunidad <br>
                <span>Información en</span> tiempo real
            </p>

        </div> -->

    </div>
</section>


<section id="contacto" class=" banner-escolar2 fondo-banner-escolar2 animated fadeIn ">
    <div class="contenido-banner-escolar2 ">

        <div class="texto-escolar1">
            <!-- <h1 class="  seccion ">¿Estás interesado en <br> Easyaccess?</h1> -->
            <p class="">Si tienes un espacio residencial en donde se requiera uno o varios puntos de control de ingreso y salida para:
            </p>
            <img src="assets/img/escuela-iconos1.png" alt="">
        </div>

        <!-- <div>
            <img src="assets/img/escuela-iconos2.png" alt="">
        </div> -->


        <div class="texto-escolar2">
            <!-- <h1 class="  seccion ">¿Estás interesado en <br> Easyaccess?</h1> -->
            <p class=" ">De no ser asi, te ofrecemos gestionar de manera más eficiente estos puntos de acceso bajo una solución que resuelve necesidades de:
            </p>
            <img src="assets/img/escuela-iconos2.png" alt="">
        </div>

    </div>

    <h3 class="centrar-texto texto-escolarh3">¡Todo en un <span>solo sistema!</span></h3>

</section>



<section class=" banner-escolar-2 fondo-banner-escolar-2 animated fadeIn ">
    <div class="contenido-banner-escolar-2 ">

        <div class="texto-escolar-2">
            <h1 class=" centrar-texto seccion ">¿Cómo funciona?</h1>
            <p class="parrafo1">
                La versatibilidad del sistema permite diversas opciones para la distribución del código (invitación vía e-mail o WhatsApp, Código dinamico en app para residentes, identificación de empleado doméstico o de obra).
            </p>

            <p class="parrafo2">
                Con un lector fijo o con un dispositivo móvil (Android o iOS), se lee el código y se permite el acceso a la persona .
            </p>
            <p class="parrafo3">
                Cada código de invitación es único e irrepetible, válido para una sola entrada y una sola salida, dentro del horario marcado por el anfitrión.
            </p>
        </div>

        <div class=" ">
            <img src="assets/img/laptop.png " class="imga-banner-escolar-2 " alt="imagen-nosotros ">
        </div>



    </div>
</section>