<section id="sector1" class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar banner-escolar" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
        <img src="assets/img/fondo-residencial.png " class="imga-banner-escolar" alt="imagen-nosotros ">


        <img class="img-encima-sectores" src="assets/img/icono-sectores-residencial.png" alt="" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
        <p class="texto-abajo-sectores" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">Mayor seguridad interna <span>para los habitantes</span><br>
            <span>Menor carga en</span> puntos de acceso <br> Mayor control <span>de visitas</span>
        </p>

    </div>


</section>


<section class=" fondo-banner-comofunciona2 top-relleno animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class=" banner-escolar">
        <img src="assets/img/fondo-transparente.png " class="imagen-comofunciona" alt="imagen-nosotros laptop.png">


        <p class="texto-arriba-comofunciona-subtitulo2 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            Si tienes un espacio residencial en donde se requiera <br> uno o varios puntos de control de ingreso y salida <br> para:
        </p>
        <img class="img-encima-comofunciona1" src="assets/img/icon-residente.png" alt="">
        <p class="texto-abajo-comofunciona-icono1">Residentes</p>
        <img class="img-encima-comofunciona2" src="assets/img/icon-invitados.png" alt="">
        <p class="texto-abajo-comofunciona-icono2">Invitados</p>
        <img class="img-encima-comofunciona3" src="assets/img/icon-administrativo.png" alt="">
        <p class="texto-abajo-comofunciona-icono3">Personal administrativo</p>
        <img class="img-encima-comofunciona4" src="assets/img/icon-domestico.png" alt="">
        <p class="texto-abajo-comofunciona-icono4-ajuste">Personal doméstico</p>

        <p class="texto-arriba-comofunciona-subtitulo2-2 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            De no ser así, te ofrecemos gestionar de manera <br> más eficiente estos puntos de acceso bajo una <br> solución que resuelve necesidades de:
        </p>

        <img class="img-encima-comofunciona1-2" src="assets/img/icono-tabla.png" alt="">
        <p class="texto-abajo-comofunciona-icono1-2">Información</p>
        <img class="img-encima-comofunciona2-2" src="assets/img/icono-credencial.png" alt="">
        <p class="texto-abajo-comofunciona-icono2-2">Identificación</p>
        <img class="img-encima-comofunciona3-2" src="assets/img/icono-seguridad.png" alt="">
        <p class="texto-abajo-comofunciona-icono3-2">Seguridad</p>
        <img class="img-encima-comofunciona4-2" src="assets/img/icono-puerta.png" alt="">
        <p class="texto-abajo-comofunciona-icono4-2">Flujo</p>

        <img src="assets/img/fondo-transparente.png " class="imga-banner-escolar" alt=" imagen-nosotros ">


    </div>




</section>





<section class=" fondo-banner-comofunciona top-relleno animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class=" banner-escolar">
        <img src="assets/img/laptop2.png " class="imagen-comofunciona" alt="imagen-nosotros laptop.png">


        <h1 class="texto-arriba-comofunciona" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">¿Cómo funciona?</h1>
        <p class="texto-arriba-comofunciona-subtitulo" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            La versatilidad del sistema permite diversas opciones <br> para la distribución del código (invitación vía e-mail o <br> WhatsApp, Código dinámico en app para residentes, <br> identificación de empleado doméstico o de obra).
        </p>
        <p class="texto-abajo-comofunciona1" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            Con un lector fijo o con un dispositivo móvil (Android o iOS),<br> se lee el código y se permite el acceso a la persona.
        </p>
        <p class="texto-abajo-comofunciona2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
            Cada código de invitación es único e irrepetible, válido para <br> una sola entrada y salida, dentro del horario <br> marcado por el anfitrión.
        </p>

    </div>


</section>





<section id="contacto" class=" banner-contacto2 fondo-banner-contacto2 animated fadeIn ">
    <div class="contenido-banner-cotacto2 ">


        <div class="texto-contacto2">
            <h1 class="  seccion " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">¿Estás interesado en Easyaccess?</h1>
            <p class=" seccion" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y <br> disfrutar de los servicios de <span class="easyaccess"> Easy</span>Access
            </p>

        </div>

        <form (ngSubmit)="contactForm(form)" class="col-md-10 colores-contacto" #form="ngForm" method="post" onsubmit="return submitUserForm();" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">


            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-user-edit"></i> Nombre</label>
                <input id="inputform" type="text" class="form-control" name="nombre" ngModel required minlength="5">
            </div>

            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-exclamation-circle"></i> Asunto</label>
                <input id="inputform" type="text" class="form-control" name="asunto" ngModel required minlength="5">
            </div>

            <div class="form-goup">
                <label for=""><i class="far fa-coloricon-contacto fa-envelope"></i> Correo Electrónico</label>
                <input id="inputform" type="email" class="form-control" name="email" ngModel required email>
            </div>

            <div class="form-goup">
                <label for=""> <i class="fas fa-coloricon-contacto fa-feather-alt"></i> Mensaje</label>
                <textarea class="form-control" id="inputform" name="mensaje" ngModel required minlength="5"></textarea>
            </div>

            <hr>
            <!--  *CAPTCHA LOCAL PARA PRUEBAS* -->
            <!-- <div id="loadcaptcha" class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();  ">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
            </div> -->
            <!--  *CAPTCHA EN PRODUCCIÓN* -->
            <div class="g-recaptcha " id="loadcaptcha" style="color:cornsilk;" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca vuelva a recargar la página.
            </div>


            <div id="g-recaptcha-error"></div>

            <div class="form-goup centrar-texto seccion">
                <button type="submit" id="btn1" name="submit" value="submit" class="btn btn-primary btn-lg btn-block" disabled>Envíar</button>

            </div>
        </form>
    </div>

</section>