<!-- <div class="container">

    <h1 class="h1-upercase centrar-texto seccion titulo">Contáctanos</h1>
    <hr>
</div> -->

<section id="contacto" class=" banner fondo-banners-contacto  animated fadeIn">

    <div class="container col-md-9 contact-form ">
        <br>
        <div class="row">
            <div class="col-md-6 imagen-contacto">
                <a href="https://easyaccess.com.mx/" target="_blank"> <img src="assets/img/logoEA.png" alt="Imagen-contactanos"></a>
            </div>
            <div class="col-md-6">
                <form (ngSubmit)="contactForm(form)" #form="ngForm" method="post" onsubmit="return submitUserForm();">
                    <span *ngIf="form.submitted && form.controls['nombre'].errors" class="text-danger">El nombre es obligatorio</span>
                    <div class="form-goup">
                        <label for=""><i class="fas fa-coloricon-contacto fa-user-edit"></i> Nombre</label>
                        <input type="text" class="form-control" name="nombre" ngModel required minlength="5">
                    </div>
                    <span *ngIf="form.submitted && form.controls['asunto'].errors" class="text-danger">El asunto es obligatorio</span>
                    <div class="form-goup">
                        <label for=""><i class="fas fa-coloricon-contacto fa-exclamation-circle"></i> Asunto</label>
                        <input type="text" class="form-control" name="asunto" ngModel required minlength="5">
                    </div>
                    <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger">El correo es obligatorio</span>
                    <div class="form-goup">
                        <label for=""><i class="far fa-coloricon-contacto fa-envelope"></i> Correo Electrónico</label>
                        <input type="email" class="form-control" name="email" ngModel required email>
                    </div>
                    <span *ngIf="form.submitted && form.controls['mensaje'].errors" class="text-danger">El mensaje es obligatorio</span>
                    <div class="form-goup">
                        <label for=""> <i class="fas fa-coloricon-contacto fa-feather-alt"></i> Mensaje</label>
                        <textarea cols="30" rows="6" class="form-control" name="mensaje" ngModel required minlength="5"></textarea>
                    </div>


                    <!-- CAPTACH -->


                    <hr>

                    <!-- <div class="g-recaptcha" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha"></div> -->
                    <div class="g-recaptcha" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha"></div>
                    <div id="g-recaptcha-error"></div>
                    <div id="passwordHelpBloc" class="form-text captcha-instruccion">Favor de resolver el reCAPTCHA</div>
                    <div id="passwordHelpBloc" class="form-text captcha-instruccion">En caso de que no aparezca, vuelva a recargar la página</div>


                    <!-- CAPTCHA -->

                    <div class="form-goup centrar-texto seccion">
                        <button type="submit" id="btn1" name="submit" value="submit" class="btn btn-info btn-lg btn-block" disabled>Envíar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <!-- <form>
    <div class="captcha">
        <ngx-recaptcha2 [formControl]="recaptcha" class="g-recaptcha" data-callback="verifyCaptcha" (success)="handleSuccess($event)" #captchaElem [siteKey]="siteKey">
        </ngx-recaptcha2>
    </div>
    </form> -->

</section>
<!-- <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button> -->