<!-- **************CAROUSEL*********** -->
<section id="home">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade  " data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

        </ol> -->
        <div class="carousel-inner ">

            <div class="carousel-item  active   video carousel-item-inicio parallax">

                <!-- <video autoplay loop muted class="d-block" name="media">

                    <source src="assets/videos/celular.mp4" type="video/mp4" >
                </video> -->

                <video src="assets/videos/celular.mp4" class="d-block" [muted]="'muted'" autoplay loop></video>


                <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
                    <h5>seguridad y control de acceso <br> para tu sitio</h5>
                    <!-- <p>Controla la seguridad</p> -->
                    <hr>
                </div>
            </div>

            <div class="carousel-item header-imagen carousel-item-inicio  contenedor-video parallax ">
                <img src="assets/img/Seguridad1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio  d-md-block">


                </div>

            </div>
            <div class="carousel-item header-imagen carousel-item-inicio parallax">
                <img src="assets/img/Seguridad2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio    d-md-block">

                </div>
            </div>
            <div class="carousel-item header-imagen carousel-item-inicio parallax">
                <img src="assets/img/Seguridad3.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio   d-md-block">

                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">

            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">

            <span class="visually-hidden"></span>
        </a>

    </div>
</section>

<!-- <video id="video" autoplay="autoplay" loop="loop" controls="controls">
<source src="assets/videos/celular.mp4" type="video/mp4">
</video> -->

<!-- SECCION INICIO 2.0 -->

<section class="fondo-banners-entrada-salida6 top-ques animated fadeIn  " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class="contenido-banner-escolar banner-escolar">
        <img src="assets/img/handeasy2.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <h1 class="texto-titulo-encima-Quees" [ngsReveal]="{reset:true, duration:1000, origin:'top', distance:'100px'}">¿Qué es easyaccess?</h1>
        <p class="texto-abajo-Quees" [ngsReveal]="{reset:true, duration:1000, origin:'bottom', distance:'400px'}"><span class="easyaccess">easy</span>Access es una aplicación de información para control de acceso, basado en la captura de información y registro en puntos de control <span>¡Fácil de usar!</span> utilizado para visitantes, proveedores e internos
            que no requieren de una tarjeta de control o mecanismo fijo de autenticación.</p>
        <!-- <div class="centrado">Centrado</div> -->
    </div>


</section>






<!-- ******************** SECTION INICIO ********************* -->



<!-- <h1 class="titulo centrar-texto seccion animated fadeIn">Controla la seguridad de una manera sencilla</h1> -->

<!-- SECCION INFORMACION DE CONTROL 2.0 -->


<section id="services" class="icon-servicios   banner-servicios2">
    <h1 class="servicios2-titulo" [ngsReveal]="{ reset: true, duration: 2000}">¿Qué ofrecemos?</h1>

    <div class="servicios2 ">


        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/toque.png" alt="">
            </div>

            <P>Control de entradas y salidas</P>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/datos-reales.png" alt="">
            </div>

            <p>Control de acceso con datos reales</p>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/stop.png" alt="">
            </div>

            <p>Control de incidencias</p>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/coche.png" alt="">
            </div>

            <p>Información vehicular</p>
        </div>
        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/qr.png" alt="">
            </div>

            <p>Información completa <br> mediante código QR</p>
        </div>
        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/codigo-qr-visitas.png" alt="">
            </div>

            <p>Control de visitas</p>
        </div>


    </div>



    <br>
</section>


<!-- ************************ BENEFICIOS ********************* -->
<!-- <h1 class="titulo seccion centrar-texto">SLIDER BENEFICIOS EN PROCESO...</h1> -->

<div id="beneficios" class="colore-prueba-beneficio animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <h1 class="titulo-beneficios">Beneficios</h1>
    <div class="">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="30000">
                <ol class="carousel-indicators carousel-indicators2">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Información más accesible</h2>
                                        <p>Obtén la información que necesites a través de la aplicación de manera rápida y sencilla. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Información más segura</h2>
                                        <p>La información se almacena en la nube, puede almacenar toda la información de su sitio de forma virtual, esto facilita el cambio de información entre los usuarios y mayor seguridad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Gestión de usuarios</h2>
                                        <p>La aplicación te permite gestionar distintos tipos de usuarios como: Proveedores, Residentes, Personal administrativo, Guardias, Mantenimiento, Visitantes, Empleados domésticos y Obreros.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item" data-interval="15000">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Control de incidencias</h2>
                                        <p>Obtén la información de los accesos denegados para tomar medidas y garantizar la seguridad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Invita amigos</h2>
                                        <p>Por medio de la aplicación crea invitaciones electrónicas y compártelas en código QR</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- SECCION CATEGORIAS ESCUELA, RESIDENCIAS ETC... -->
<section class="icon-servicios   banner-servicios" [ngsReveal]="{reset:true, duration:1000, origin:'left', distance:'400px'}">
    <h1 class="servicios-titulo" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">Sectores de servicio</h1>
    <div class="servicios ">


        <div class="servicio " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Residencial</h3>
            <a [routerLink]="['/residencial']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/departamento.png" alt="departamento-img">
                </div>
            </a>
            <P>Mayor control de visitas</P>
        </div>

        <div class="servicio" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Escolar</h3>
            <a [routerLink]="['/escolar']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/universidad.png" alt="universidad-img">
                </div>
            </a>
            <p>Incrementa la seguridad en tu punto de acceso</p>
        </div>

        <div class="servicio" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Corporativo</h3>
            <a [routerLink]="['/corporativo']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/corporativo.png" alt="corporativo-img">
                </div>
            </a>
            <p>Credencialización de empleados</p>
        </div>

        <div class="servicio " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Construcción</h3>
            <a [routerLink]="['/construccion']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/construccion.png" alt="contruccion-img">
                </div>
            </a>
            <p>Agilidad en ingresos de visitantes, obreros y proveedores</p>
        </div>

    </div>
    <br>
</section>



<!-- ************************ GALERIA ********************* -->


<section class="galeria animated fadeIn" id="galeria" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <a href="#image1">
        <img src="assets/img/galeria7.jpg" alt="">
    </a>
    <a href="#image2">
        <img src="assets/img/galeria2.jpg" alt="">
    </a>
    <a href="#image3">
        <img src="assets/img/galeria3.jpg" alt="">
    </a>
    <a href="#image4">
        <img src="assets/img/galeria6.jpg" alt="">
    </a>
    <a href="#image5">
        <img src="assets/img/galeria5.jpg" alt="">
    </a>
    <a href="#image6">
        <img src="assets/img/Informacion-medianteQR.png" alt="">
    </a>

</section>

<article class="light-box" id="image1">

    <a href="#image6" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/galeria7.jpg" alt="">
    <a href="#image2" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>

</article>

<article class="light-box" id="image2">
    <a href="#image1" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/galeria2.jpg" alt="">
    <a href="#image3" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image3">
    <a href="#image2" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/galeria3.jpg" alt="">
    <a href="#image4" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image4">
    <a href="#image3" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/galeria6.jpg" alt="">
    <a href="#image5" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image5">
    <a href="#image4" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/galeria5.jpg" alt="">
    <a href="#image6" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image6">
    <a href="#image5" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/Informacion-medianteQR.png" alt="">
    <a href="#image1" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>

</article>






<!-- SECCIÓN BANNNER DE DESCARGA 2.0 -->

<section class=" banner-descargarapp fondo-banner-descarga animated fadeIn " [ngsReveal]="{reset:true, duration:1000, origin:'top', distance:'200px'}">
    <div class="contenido-banner-descargarapp ">

        <div class=" ">
            <img src="assets/img/iconEAhd.png " class="imga-banner-descargarapp" alt="imagen-nosotros " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <div class="app-descarga" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'200px'}">
                <!-- <h1 class="centrar-texto">¡Descarga easyaccess!</h1> -->
                <a href="assets/descargar-aplicacion/EA_1.4.3_PD.apk" download> <img src="assets/img/google-play.png " width="450 " height="200 " alt="Imagen-google-play "></a>
            </div>
        </div>

        <div class="texto-descarga ">
            <h1 class=" centrar-texto seccion ">¡Easyaccess en tu celular!</h1>
            <p>Descarga nuestra aplicación móvil, cuenta con todas las funciones necesarias para utilizar y disfrutar de los servicios de <span class="easyaccess">easy</span>Access
            </p>
        </div>

    </div>
</section>





















<!-- ************************ CONTACTO ********************* -->

<section id="contacto" class=" banner-contacto2 fondo-banner-contacto2 animated fadeIn ">
    <div class="contenido-banner-cotacto2 ">


        <div class="texto-contacto2">
            <h1 class="  seccion " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">¿Estás interesado en Easyaccess?</h1>
            <p class=" seccion" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y <br> disfrutar de los servicios de <span class="easyaccess"> Easy</span>Access
            </p>

        </div>

        <form (ngSubmit)="contactForm(form)" class="col-md-10 colores-contacto" #form="ngForm" method="post" onsubmit="return submitUserForm();" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">

            <!-- <span *ngIf="form.submitted && form.controls['nombre'].errors" class="text-danger">El nombre es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-user-edit"></i> Nombre</label>
                <input id="inputform" type="text" class="form-control" name="nombre" ngModel required minlength="5">
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['asunto'].errors" class="text-danger">El asunto es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-exclamation-circle"></i> Asunto</label>
                <input id="inputform" type="text" class="form-control" name="asunto" ngModel required minlength="5">
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger">El correo es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="far fa-coloricon-contacto fa-envelope"></i> Correo Electrónico</label>
                <input id="inputform" type="email" class="form-control" name="email" ngModel required email>
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['mensaje'].errors" class="text-danger">El mensaje es obligatorio - Ingrese más de 5 letras</span> -->
            <div class="form-goup">
                <label for=""> <i class="fas fa-coloricon-contacto fa-feather-alt"></i> Mensaje</label>
                <textarea class="form-control" id="inputform" name="mensaje" ngModel required minlength="5"></textarea>
            </div>
            <!-- CAPTACH -->
            <hr>
            <!-- <div id="loadcaptcha" class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();  ">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
            </div> -->
            <div class="g-recaptcha " id="loadcaptcha" style="color:cornsilk;" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca vuelva a recargar la página.
            </div>


            <div id="g-recaptcha-error"></div>
            <!-- <form>
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
            </form> -->
            <!-- CAPTCHA -->
            <div class="form-goup centrar-texto seccion">
                <button type="submit" id="btn1" name="submit" value="submit" class="btn  btn-primary btn-lg btn-block" disabled> Envíar </button>
                <!-- <input type="button" value="refrescar" class="btn btn-primary" onclick="javascript:window.location.reload();" /> -->
            </div>
        </form>
    </div>

</section>




<!-- ********************BOTÓN DE WHATSAPP************************ -->
<!-- <div>
    <i class="fab fa-whatsapp"></i>
</div> -->


<div>

    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" class="ngx-whatsapp-button-float " [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
</div>
<!-- <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phonetecnico" class="ngx-whatsapp-button-float  " [ngx_whatsapp_text]="titletecnico"></jjva-ngx-whatsapp-button> -->