<!-- <header class="site-header">
    <div class="fondo header-imagen redondeado">
        <img src="assets/img/handeasy.png" alt="IMAGEN-CENTRO">
        <div class="container">
            <h1 class="header-texto h1-banner-inicio">Bienvenido
                <br>
                <h4 class=" header-texto hw-banner-inicio">Easyaccess, ten el control</h4>
                <hr>
            </h1>
        </div>

        <p class="slogan">Ten el <span>control</span></p>

    </div>

</header> -->


<!-- **************CAROUSEL*********** -->




<div id="carouselExampleCaptions" class="carousel slide carousel-fade  animated fadeIn" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner">

        <div class="carousel-item carousel-item-inicio active  video">
            <video src="assets/videos/seguridad-video.mp4" controls autoplay muted loop class="d-block"></video>
            <div class="carousel-caption carousel-caption-inicio header-imagen-fondos d-none d-md-block">
                <h5>First slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <!-- <div class="carousel-item ">

            <div class="carousel-caption carousel-caption-inicio header-imagen  d-none d-md-block">
                <img src="assets/img/handeasy.png" alt="IMAGEN-CENTRO">
                <h5 class="animated bounceInRight">Bienvenido</h5>
                <p>Easyaccess ten el control</p>
                <hr>
            </div>
        </div> -->

        <div class="carousel-item carousel-item-inicio header-imagen contenedor-video ">
            <img src="assets/img/QR-imagen.png" class="d-block w-100" alt="...">
            <div class="carousel-caption carousel-caption-inicio d-none d-md-block">

                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </div>
        </div>

        <div class="carousel-item carousel-item-inicio header-imagen">
            <img src="assets/img/seguridad2-header.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption carousel-caption-inicio   d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </div>
        </div>
        <div class="carousel-item carousel-item-inicio header-imagen ">
            <img src="assets/img/seguridad3-header.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption carousel-caption-inicio  d-none d-md-block">
                <h5>Fourt slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden"></span>
    </a>





</div>



<!-- ****** SECTION NOSOTROS ****** -->



<!-- <section id="home" class="container">

    <h1 class="h1-upercase centrar-texto seccion titulo">Más sobre nosotros</h1>
    <hr>
    <div class="contenido-nosotros">

        <div class="texto-nosotros">
            <blockquote>Pellentesque ullamcorper dolor at augue mattis, bibendum porta elit consequat.</blockquote>
            <p>Pellentesque ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin facilisis egestas orci. Etiam in posuere justo,
                vporttitor justo. </p>
        </div>
        <div class="imagen">
            <img src="assets/img/inicio1.png" alt="imagen-nosotros">
        </div>

    </div>
</section> -->


<!-- ****** SECTION INSTRUCCIONES ****** -->


<section id="home" class=" banner fondo-banners  animated fadeIn">
    <div class="contenido-banner-inicial">
        <div class="texto-inicial">
            <h1 class="titulo centrar-texto seccion ">Registra la informacion de tus visitantes de una manera fácil</h1>
            <hr>
            <p>Easyaccess es una app para el control de acceso de manera sencilla, podrás tener los registros de las visitas realizadas a tu residencial o empresa mediante la captura de información del visitante y la captura de imágenes los cuales generaran
                un reporte pdf con el resumen de la visita.

            </p>
        </div>

        <div class="">
            <img src="assets/img/handeasy.png" alt="imagen-nosotros">
        </div>

    </div>
</section>

<!-- ****** SECTION FUNCIONES ****** -->

<section class="container seccion animated fadeIn">
    <h1 class="titulo centrar-texto seccion ">Control de entradas y salidas</h1>

    <hr>
    <div class="card-deck habilidad ">
        <p>Control de entradas y salidas te permitirá llevar el registro de los accesos que realicen tus usuarios registrados en el sistema y cuenta con las validaciones necesarias de seguridad.
        </p>
        <div class="card" style="border: 0ch;">
            <div class="card-body card-body-card1  efecto-card">
                <img src="assets/img/frontend.png" class="redondeado-relleno" alt="frontend">
                <h3 class="card-title seccion">validación de horario</h3>
                <p class="card-text">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida. </p>
            </div>
        </div>
        <div class="card card2" style="border: 0ch;">
            <div class="card-body card-body-card2 shadow-cards efecto-card">
                <img src="assets/img/backend.png" class="redondeado-relleno" alt="backend">
                <h3 class="card-title seccion">validación de status de usuario</h3>
                <p class="card-text">Se valida que el usuario que intenta acceder este activo en el sistema.</p>
            </div>
        </div>
        <div class="card card2" style="border: 0ch;">
            <div class="card-body card-body-card3 shadow-cards efecto-card">
                <img src="assets/img/soporte.png" class="redondeado-relleno" alt="soporte">
                <h3 class="card-title seccion">Anti-passback</h3>
                <p class="card-text">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>
            </div>
        </div>

    </div>
</section>


<!-- ****** SECTION FUNCIONES GESTION DE USUARIOS ****** -->

<section id="home" class=" banner fondo-banners  animated fadeIn">
    <div class="contenido-banner-gestion">

        <div class="imga-banner-gestion">
            <img src="assets/img/gestion-usuarios.png" alt="imagen-nosotros">
        </div>
        <div class="texto-inicial">
            <h1 class="titulo centrar-texto seccion ">Gestion de usuarios</h1>
            <hr>
            <p>Easyaccess te permite gestionar distintos tipos de usuarios y te muestra día a día cuantos de estos han ingresado.
            </p>
            <ul class="">
                <li>Proveedores</li>
                <li>Residentes</li>
                <li>Empleados domésticos</li>
                <li>Obreros</li>
                <li>Personal Administrativo</li>
                <li>Guardias</li>
                <li>Mantenimiento</li>
                <li>Visitantes</li>
            </ul>
        </div>

    </div>
</section>

<!-- ****** SECTION FUNCIONES INFORMACION MEDIANTE QR, SLIDER ****** -->
<div class="container">
    <h1 class="titulo centrar-texto seccion ">Información completa mediante QR</h1>
    <hr>
</div>
<div id="carouselExampleCaptionss" class="carousel slide  animated dadeIn" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptionss" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptionss" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptionss" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptionss" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptionss" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner carousel-item-QR parallax">
        <div class="carousel-item  carousel-itemm active">
            <img src="assets/img/QR-1.jpg" class="d-block carousel-imagen-QR" alt="...">
            <div class="carousel-caption carousel-caption-QR  d-md-block">
                <h5>Escáner QR</h5>

                <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
            </div>
        </div>

        <div class="carousel-item ">
            <img src="assets/img/QR-2.jpg" class="d-block carousel-imagen-QR" alt="...">
            <div class="carousel-caption carousel-caption-QR  d-md-block">
                <h5>Presionar botón escanear</h5>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
            </div>
        </div>
        <div class="carousel-item ">
            <img src="assets/img/QR-3.jpg" class="d-block carousel-imagen-QR" alt="...">
            <div class="carousel-caption carousel-caption-QR  d-md-block">
                <h5>Escanear QR</h5>
                <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
            </div>
        </div>
        <div class="carousel-item ">
            <img src="assets/img/QR-4.jpg" class="d-block carousel-imagen-QR" alt="...">
            <div class="carousel-caption carousel-caption-QR  d-md-block">
                <h5>Obtener información</h5>
                <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
            </div>
        </div>
        <div class="carousel-item ">
            <img src="assets/img/QR-5.jpg" class="d-block carousel-imagen-QR" alt="...">
            <div class="carousel-caption carousel-caption-QR  d-md-block">
                <h5>Información obtenida</h5>

            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptionss" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptionss" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="visually-hidden"></span>
    </a>
</div>

<!-- ****** SECTION FUNCIONES CONTROL DE VISITAS ****** -->

<div class="container">

    <h1 class=" seccion">en proceso..........</h1>
</div>

<section class=" banner fondo-banners  animated fadeIn">
    <div class="contenido-banner-gestion">


        <div class="texto-inicial">
            <h1 class="titulo centrar-texto seccion ">Control de visitas</h1>
            <hr>
            <p>Con este apartado podrás tener los registros de las visitas realizadas a tu residencial o empresa mediante la captura de información del visitante y la captura de imágenes los cuales generaran un reporte pdf con el resumen de la visita.
            </p>

        </div>
        <ul class="list-group ">
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Cras justo odio</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Dapibus ac facilisis in</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Morbi leo risus</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Porta ac consectetur ac</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Vestibulum at eros</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Vestibulum at eros</li>

        </ul>

    </div>
</section>




<!-- BANNER SOLUCION-INICIO -->
<!-- <div class="banner-store parallax">
    <div class="container">
        <div class="resumen-banner-inicio">

            <h2 class="h1-upercase centrar-texto seccion titulo">¿Quieres tener mayor control en tu residencia o empresa?
            </h2>
            <div class="contenido-banner-inicio">
                <ul class="list-group">
                    <li>Las personas evaden tu seguridad</li>
                    <li>No se tiene un registro de quienes acceden</li>
                    <li>El proceso para ingresar al residencial es muy tardador</li>
                    <h4 class="h4-banner-inicio ">¡Tenemos tu solucion!</h4>

                </ul>


                <div class="imga-banner-inicio">
                    <img src="assets/img/banner-inicio.jpg" alt="imagen-nosotros">
                </div>



            </div>


        </div>
    </div>
</div> -->




<!-- ****** SECTION CARACTERISTICAS ****** -->
<!-- <section id="caracter" class="container">

    <div class="contenido-nosotros "> -->
<!-- <div class="imagen">
            <img src="assets/img/inicio2.png" alt="imagen-nosotros">
        </div> -->
<!-- <ul class="list-group ">
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Cras justo odio</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Dapibus ac facilisis in</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Morbi leo risus</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Porta ac consectetur ac</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Vestibulum at eros</li>
            <li class="list-group-item li-hover"><span><i class="far fa-check-circle icon"></i></span> Vestibulum at eros</li>

        </ul>

        <div class="texto-nosotros">
            <blockquote>Características.</blockquote>
            <p>Pellentesque ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin facilisis egestas orci. Etiam in posuere justo,
                vporttitor justo. </p>

        </div>


    </div>
</section> -->


<!-- ****** SECTION TESTIMONIAL****** -->

<!-- <section class="invitados container seccion">
    <h2 class="h1-upercase centrar-texto titulo">Testimoniales</h2>
    <hr>
    <ul class="clearfix lista-testimonial no-diseño">
        <li>
            <div class="testimonial">
                <img src="assets/img/persona4.png" alt="">
                <p><span class="nombre-testimonial">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>

            </div>
        </li>
        <li>
            <div class="testimonial">
                <img src="assets/img/persona4.png" alt="">
                <p><span class="nombre-testimonial">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>
            </div>
        </li>
        <li>
            <div class=" testimonial">
                <img src="assets/img/persona4.png" alt="">
                <p><span class="nombre-testimonial">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>
            </div>
        </li>


    </ul>
</section> -->

<!-- BANNER GOOGLE-STORE -->

<!-- <div class="banner-store parallax">
    <div class="container">
        <ul class="resumen-evento clearfix">
            <h1 class="centrar-texto">¡Descarga la app! <br>
                <a href=""> <img src="assets/img/google-play.png" width="450" height="200" alt="Imagen-google-play"></a>
            </h1>
        </ul>

    </div>
</div> -->