<!-- <header class="site-header">
    <div class="fondo header-imagen redondeado">
        <img src="assets/img/handeasy.png" alt="IMAGEN-CENTRO">
        <div class="container">
            <h1 class="header-texto h1-banner-inicio">Bienvenido
                <br>
                <h4 class=" header-texto hw-banner-inicio">Easyaccess, ten el control</h4>
                <hr>
            </h1>
        </div>

        <p class="slogan">Ten el <span>control</span></p>

    </div>

</header> -->


<!-- **************CAROUSEL*********** -->
<section id="home">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade  " data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

        </ol> -->
        <div class="carousel-inner ">

            <div class="carousel-item  active  video carousel-item-inicio parallax">
                <video src="assets/videos/seguridad-video1.mp4" autoplay muted loop class="d-block "></video>
                <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
                    <h5>seguridad y control de acceso <br> para tu empresa o residencia</h5>
                    <!-- <p>Controla la seguridad</p> -->
                    <hr>
                </div>
            </div>

            <div class="carousel-item header-imagen carousel-item-inicio  contenedor-video parallax ">
                <img src="assets/img/Seguridad1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio  d-md-block">

                    <!-- <h5>Multiplataforma</h5> -->
                    <!-- <p>Fácil acceso mediante multiples dispositivos</p> -->
                    <!-- <hr> -->

                </div>

            </div>
            <div class="carousel-item header-imagen carousel-item-inicio parallax">
                <img src="assets/img/Seguridad2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio    d-md-block">
                    <!-- <h5>Código QR</h5> -->
                    <!-- <p>Obten información completa mediante códigos QR</p> -->
                    <!-- <hr> -->
                </div>
            </div>
            <div class="carousel-item header-imagen carousel-item-inicio parallax">
                <img src="assets/img/Seguridad3.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption carousel-caption-inicio   d-md-block">
                    <!-- <h5>Control de visitas e incidencias</h5> -->
                    <!-- <p>Obten registros de las visitas realizadas y accesos denegados a tu residencial o empresa</p> -->
                    <!-- <hr> -->
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">

            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">

            <span class="visually-hidden"></span>
        </a>

    </div>
</section>



<!-- <section class=" banner fondo-banners  animated fadeIn">

</section> -->

<!-- SECCION INICIO 2.0 -->
<!-- <section class=" banner-presentacion1 fondo-banner-presentacion1 animated fadeIn ">
    <div class="contenido-banner-descargarapp ">

        <div class=" ">
            <img src="assets/img/handeasy.png " class="imga-banner-presentacion1" alt="imagen-nosotros ">

        </div>

        <div class="texto-presentacion1">
            <h1 class=" centrar-texto seccion ">¿Qué es Easyaccess?</h1>
            <p><span>Easyaccess</span> es una app de información para control de acceso, basado en la captura de información y registro en puntos de control <span>¡Fácil de usar!</span> utilizado para visitantes, proveedores e internos que no requieren de
                una tarjeta de control o mecanismo fijo de autenticación.

            </p>
        </div>

    </div>
</section> -->
<section class="fondo-banners-entrada-salida6 top-ques animated fadeIn  " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">

    <div class="contenido-banner-escolar banner-escolar">
        <img src="assets/img/handeasy2.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <h1 class="texto-titulo-encima-Quees" [ngsReveal]="{reset:true, duration:1000, origin:'top', distance:'100px'}">¿Qué es easyaccess?</h1>
        <p class="texto-abajo-Quees" [ngsReveal]="{reset:true, duration:1000, origin:'bottom', distance:'400px'}"><span>Easyaccess</span>es una app de información para control de acceso, basado en la captura de información y registro en puntos de control <span>¡Fácil de usar!</span> utilizado para visitantes, proveedores e internos que no requieren de una
            tarjeta de control o mecanismo fijo de autenticación.</p>
        <!-- <div class="centrado">Centrado</div> -->
    </div>


</section>




<!-- ************************* SECCION INICIO 2.0 ****************** -->
<!-- <section class="  animated fadeIn">
    <div class="imagen-inicio2">
        <img src="assets/img/Que-es.jpeg" alt="imagen-inicio2.0">
    </div>

</section> -->

<!-- ******************** SECTION INICIO ********************* -->

<!-- <section class=" banner fondo-banners  animated fadeIn">
    <div class="contenido-banner-inicial">
        <div class="texto-inicial">
            <h1 class="titulo centrar-texto seccion ">Registra la informacion de tus visitantes de una manera fácil</h1>
            <hr>
            <p>Easyaccess es una app para el control de acceso de manera sencilla, podrás tener los registros de las visitas realizadas a tu residencial o empresa mediante la captura de información del visitante y la captura de imágenes los cuales generaran
                un reporte pdf con el resumen de la visita.

            </p>
        </div>

        <div class="">
            <img src="assets/img/handeasy.png" alt="imagen-nosotros">
        </div>

    </div>
</section> -->

<!-- <h1 class="titulo centrar-texto seccion animated fadeIn">Controla la seguridad de una manera sencilla</h1> -->

<!-- SECCION INFORMACION DE CONTROL 2.0 -->

<!-- <section class=" banner-control  fondo-banners-control">
    <div class="rejilla container centrar-texto icon-rejilla">
        <div>

            <i class="fas fa-10x fa-fingerprint"></i>
            <img src="assets/img/toque.png" alt="">
            <h3> Control de entradas y salidas</h3>
        </div>
        <div>
            <i class="fas fa-10x fa-id-card"></i>
            <img src="assets/img/datos-reales.png" alt="">
            <h3> Control de acceso con datos reales</h3>
        </div>
        <div>
            <i class="fas fa-10x fa-fingerprint"></i>
            <img src="assets/img/stop.png" alt="">
            <h3>Control de incidencias</h3>
        </div>
        <div>
            <i class="fas fa-10x fa-car"></i>
            <img src="assets/img/coche.png" alt="">
            <h3> Información vehicular</h3>
        </div>
        <div>
            <i class="fas fa-10x fa-qrcode"></i>
            <img src="assets/img/qr.png" alt="">
            <h3> Información completa <br> mediante QR</h3>
        </div>
    </div>
</section> -->


<section id="services" class="icon-servicios   banner-servicios2">
    <h1 class="servicios2-titulo" [ngsReveal]="{ reset: true, duration: 2000}">¿Qué ofrecemos?</h1>

    <div class="servicios2 ">


        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/toque.png" alt="">
            </div>

            <P>Control de entradas y salidas</P>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/datos-reales.png" alt="">
            </div>

            <p>Control de acceso con datos reales</p>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/stop.png" alt="">
            </div>

            <p>Control de incidencias</p>
        </div>

        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/coche.png" alt="">
            </div>

            <p>Información vehicular</p>
        </div>
        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/qr.png" alt="">
            </div>

            <p>Información completa <br> mediante código QR</p>
        </div>
        <div class="servicio2" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">


            <div class="iconos-service ">
                <img src="assets/img/codigo-qr-visitas.png" alt="">
            </div>

            <p>Control de visitas</p>
        </div>


    </div>

    <!-- <div class="servicio2" [ngsReveal]="{reset:true, duration:2000}">


        <div class="iconos-service efecto-servicio">
            <img src="assets/img/qr.png" alt="">
        </div>

        <p>Información completa <br> mediante código QR</p>
    </div> -->

    <br>
</section>









<!-- SECCION CATEGORIAS ESCUELA, RESIDENCIAS ETC... -->
<section class="icon-servicios   banner-servicios" [ngsReveal]="{reset:true, duration:1000, origin:'left', distance:'400px'}">
    <h1 class="servicios-titulo" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">Controla tu empresa</h1>
    <div class="servicios ">


        <div class="servicio " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Residencial</h3>
            <a [routerLink]="['/residencial']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/departamento.png" alt="departamento-img">
                </div>
            </a>
            <P>Mayor control de visitas</P>
        </div>

        <div class="servicio" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Escolar</h3>
            <a [routerLink]="['/escolar']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/universidad.png" alt="universidad-img">
                </div>
            </a>
            <p>Incrementa la seguridad en tu punto de accesso</p>
        </div>

        <div class="servicio" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Corporativo</h3>
            <a [routerLink]="['/corporativo']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/corporativo.png" alt="corporativo-img">
                </div>
            </a>
            <p>Credencialización de empleados</p>
        </div>

        <div class="servicio " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <h3>Construcción</h3>
            <a [routerLink]="['/construccion']" target="_blank">
                <div class="iconos-service efecto-servicio">
                    <img src="assets/img/construccion.png" alt="contruccion-img">
                </div>
            </a>
            <p>Agilidad en ingresos de visitantes y proveedores</p>
        </div>

    </div>
    <br>
</section>

<!-- ************************ BENEFICIOS ********************* -->
<!-- <h1 class="titulo seccion centrar-texto">SLIDER BENEFICIOS EN PROCESO...</h1> -->

<div id="beneficios" class="colore-prueba-beneficio animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <h1 class="titulo-beneficios">Beneficios</h1>
    <div class="">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators2">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Información más accesible</h2>
                                        <p>Obten la información que necesites a través de la aplicación de manera rápida y sencilla. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Información más segura</h2>
                                        <p>La información se almacena en la nube, puede almacenar toda la información de su empresa de forma virtual, esto facilita el cambio de información entre los usuarios y mayor seguridad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Gestión de usuarios</h2>
                                        <p>La app te permite gestionar distintos tipos de usuarios como: Proveedores, Residentes, Personal administrativo, Guardias, Mantenimiento, Visitantes, Empleados domésticos y Obreros.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Chat en caseta</h2>
                                        <p>Intercambia información con el vigilante de la caseta de forma privada.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Control de incidencias</h2>
                                        <p>Obten la información de los accesos denegados para tomar medidas y garantizar la seguridad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/cheque.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Invita amigos</h2>
                                        <p>Por medio de la aplicación crea invitaciones electrónicas y compartelas mediante código QR</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ************************ GALERIA ********************* -->


<section class="galeria animated fadeIn" id="galeria" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <a href="#image1">
        <img src="assets/img/Seguridad1.jpeg" alt="">
    </a>
    <a href="#image2">
        <img src="assets/img/Seguridad2.jpeg" alt="">
    </a>
    <a href="#image3">
        <img src="assets/img/Seguridad3.jpeg" alt="">
    </a>
    <a href="#image4">
        <img src="assets/img/Que-es.jpeg" alt="">
    </a>
    <a href="#image5">
        <img src="assets/img/iconEAhd.png" alt="">
    </a>
    <a href="#image6">
        <img src="assets/img/espacio-fondo.jpg" alt="">
    </a>
</section>

<article class="light-box" id="image1">

    <a href="#image6" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/Seguridad1.jpeg" alt="">
    <a href="#image2" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>

</article>

<article class="light-box" id="image2">
    <a href="#image1" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/Seguridad2.jpeg" alt="">
    <a href="#image3" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image3">
    <a href="#image2" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/Seguridad3.jpeg" alt="">
    <a href="#image4" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image4">
    <a href="#image3" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/Que-es.jpeg" alt="">
    <a href="#image5" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image5">
    <a href="#image4" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/iconEAhd.png" alt="">
    <a href="#image6" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>
</article>

<article class="light-box" id="image6">
    <a href="#image5" class="siguiente fa-2x"><i class="fas fa-arrow-left"></i></a>
    <img src="assets/img/espacio-fondo.jpg" alt="">
    <a href="#image1" class="siguiente fa-2x"><i class="fas fa-arrow-right"></i></a>
    <a href="#/galeria" class="cerrar">X</a>

</article>


<!-- SECCIÓN BANNNER DE DESCARGA 2.0 -->

<section class=" banner-descargarapp fondo-banner-descarga animated fadeIn " [ngsReveal]="{reset:true, duration:1000, origin:'top', distance:'200px'}">
    <div class="contenido-banner-descargarapp ">

        <div class=" ">
            <img src="assets/img/iconEAhd.png " class="imga-banner-descargarapp" alt="imagen-nosotros " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'200px'}">
            <div class="app-descarga" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'200px'}">
                <!-- <h1 class="centrar-texto">¡Descarga easyaccess!</h1> -->
                <a href="assets/descargar-aplicacion/EA_1.3.8_PD.apk" download> <img src="assets/img/google-play.png " width="450 " height="200 " alt="Imagen-google-play "></a>
            </div>
        </div>

        <div class="texto-descarga ">
            <h1 class=" centrar-texto seccion ">¡Easyaccess en tu celular!</h1>
            <p>Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y disfrutar de los servicios de EASYACCESS
            </p>
        </div>

    </div>
</section>




<!-- BANNER GOOGLE-STORE -->

<!-- <div class="banner-store parallax animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'200px'}">
    <div class="container ">
        <ul class="resumen-evento clearfix ">
            <h1 class="centrar-texto " [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'200px'}">¡Descarga la app! <br>
                <a href="assets/descargar-aplicacion/EA_1.3.8_PD.apk" download> <img src="assets/img/google-play.png " width="450 " height="200 " alt="Imagen-google-play "></a>
            </h1>
        </ul>

    </div>
</div> -->










<!-- 
<section class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar banner-escolar">
        <img src="assets/img/fondo-celularman.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <h1 class="texto-titulo-encima">¡Códigos de entrada únicos!</h1>
        <p class="texto-abajo">El vigilante escanea el código que presenta el invitado, y si es correcto el usuario recibirá una notificación de la llegada de su visita.</p>
    
    </div>


</section> -->





<!-- <section class=" fondo-banner-controlar top-relleno animated fadeIn " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'100px'}">

    <div class="contenido-banner-escolar banner-escolar">
        <img src="assets/img/laptops-fondo.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <h1 class="texto-titulo-rellenolap">Una cuenta para controlar donde quieras</h1>
        <p class="texto-abajo-rellenolap">Los usuarios e invitados tendrán acceso a la app, a través de sus equipos personales, equipos de oficina existentes, así como tabletas o teléfonos inteligentes. Se podrá consultar vía web para operación del sistema.
        </p>
        <div class="centrado">Centrado</div>
    </div>


</section> -->





<!-- ************************ CONTACTO ********************* -->
<section id="contacto" class=" banner-contacto2 fondo-banner-contacto2 animated fadeIn ">
    <div class="contenido-banner-cotacto2 ">


        <div class="texto-contacto2">
            <h1 class="  seccion " [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">¿Estás interesado en Easyaccess?</h1>
            <p class=" seccion" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y <br> disfrutar de los servicios de Easyaccess
            </p>
            <!-- <a href="https://easyaccess.com.mx/" target="_blank"> <img class="imagen-contacto2" src="assets/img/logoEA.png" alt="Imagen-contactanos"></a> -->
        </div>

        <form (ngSubmit)="contactForm(form)" class="col-md-10 colores-contacto" #form="ngForm" method="post" onsubmit="return submitUserForm();" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">

            <!-- <span *ngIf="form.submitted && form.controls['nombre'].errors" class="text-danger">El nombre es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-user-edit"></i> Nombre</label>
                <input id="inputform" type="text" class="form-control" name="nombre" ngModel required minlength="5">
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['asunto'].errors" class="text-danger">El asunto es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="fas fa-coloricon-contacto fa-exclamation-circle"></i> Asunto</label>
                <input id="inputform" type="text" class="form-control" name="asunto" ngModel required minlength="5">
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger">El correo es obligatorio</span> -->
            <div class="form-goup">
                <label for=""><i class="far fa-coloricon-contacto fa-envelope"></i> Correo Electrónico</label>
                <input id="inputform" type="email" class="form-control" name="email" ngModel required email>
            </div>
            <!-- <span *ngIf="form.submitted && form.controls['mensaje'].errors" class="text-danger">El mensaje es obligatorio - Ingrese más de 5 letras</span> -->
            <div class="form-goup">
                <label for=""> <i class="fas fa-coloricon-contacto fa-feather-alt"></i> Mensaje</label>
                <textarea class="form-control" id="inputform" name="mensaje" ngModel required minlength="5"></textarea>
            </div>
            <!-- CAPTACH -->
            <hr>
            <!-- <div id="loadcaptcha" class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
            </div> -->
            <div class="g-recaptcha " id="loadcaptcha" style="color:cornsilk;" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                Favor de resolver el reCAPTCHA, en caso de que no aparezca vuelva a recargar la página.
            </div>
            <!-- <button style="margin-top: 1rem;" type="button" class="btn btn-secondary" onclick="javascript:window.location.reload();"><i class="fas fa-2x fa-sync"></i></button> -->

            <!-- <button type="button" class="btn btn-dark" onclick="recargar()"><i class="fas fa-2x fa-sync"></i></button> -->
            <div id="g-recaptcha-error"></div>
            <!-- <form>
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
            </form> -->
            <!-- CAPTCHA -->
            <div class="form-goup centrar-texto seccion">
                <button type="submit" id="btn1" name="submit" value="submit" class="btn btn-primary btn-lg btn-block" disabled>Envíar</button>
                <!-- <input type="button" value="refrescar" class="btn btn-primary" onclick="javascript:window.location.reload();" /> -->
            </div>
        </form>
    </div>

</section>






<jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>

<!-- <form action="javascript:grecaptcha.reset(widgetId2);">
    <div id="example2"></div>
    <br>
    <input type="submit" value="reset">
</form> -->

<!-- <re-captcha (resolved)="resolved($event)" siteKey=" 6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw">

</re-captcha> -->











<!-- BANNER GOOGLE-STORE -->
<!-- 
<div class="banner-store parallax animated fadeIn ">
    <div class="container ">
        <ul class="resumen-evento clearfix ">
            <h1 class="centrar-texto ">¡Descarga la app! <br>
                <a href="assets/descargar-aplicacion/EA_1.3.8_PD.apk" download> <img src="assets/img/google-play.png " width="450 " height="200 " alt="Imagen-google-play "></a>
            </h1>
        </ul>

    </div>
</div> -->


<!-- ****** SECTION INSTRUCCIONES ****** -->
<!-- 
<section id="instrucciones" class="container seccion animated fadeIn ">
    <h1 class="titulo centrar-texto seccion ">Controla la seguridad de una manera sencilla</h1>

    <hr>
    <div class="card-deck instrucciones ">

        <div class="card " style="border: 0ch; ">
            <div class="card-body card-body-instruction1 efecto-card-instrucciones ">
                <img src="assets/img/imagen1-instrucciones.png " class="redondeado-relleno " alt="frontend ">
                <h3 class="card-title seccion ">Inicia sesión</h3>
                <p class="card-text ">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida. </p>
            </div>
        </div>
        <div class="card card2 " style="border: 0ch; ">
            <div class="card-body card-body-instruction2 shadow-cards efecto-card-instrucciones ">
                <img src="assets/img/imagen2-instrucciones.png " class="redondeado-relleno " alt="backend ">
                <h3 class="card-title seccion ">Seleccione la opción escanear</h3>
                <p class="card-text ">Se valida que el usuario que intenta acceder este activo en el sistema.</p>
            </div>
        </div>
        <div class="card card2 " style="border: 0ch; ">
            <div class="card-body card-body-instruction3 shadow-cards efecto-card-instrucciones ">
                <img src="assets/img/imagen3-instrucciones.png.jpg " class="redondeado-relleno " alt="soporte ">
                <h3 class="card-title seccion ">Posicione la cámara movil frente al código QR </h3>
                <p class="card-text ">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>
            </div>
        </div>
        <div class="card card2 " style="border: 0ch; ">
            <div class="card-body card-body-instruction3 shadow-cards efecto-card-instrucciones ">
                <img src="assets/img/imagen4-instrucciones.png " class="redondeado-relleno " alt="soporte ">
                <h3 class="card-title seccion ">¡Listo! se nos muestra los datos del usuario </h3>
                <p class="card-text ">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>
            </div>
        </div>

    </div>

</section> -->
<!-- ****** SECCIÓN CARACTERÍSTICAS ****** -->

<!-- <div id="caracteristicas" class="container animated fadeIn">
    <h1 class="titulo centrar-texto seccion ">Características</h1>
    <hr>
</div>
<section class=" banner fondo-banners  animated fadeIn table-responsive container">

    <table class="table  ">
        <thead class="table-dark">
            <tr class="titulo-caracteristicas">
                <th scope="col">Características</th>
                <th scope="col">Basic</th>
                <th scope="col">Business</th>
                <th scope="col">Enterprise</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr class="table-primary">
                <th scope="row">Alta de usuarios</th>
                <td><i class="far fa-check-circle"></i></td>
                <td><i class="far fa-check-circle"></i></td>
                <td><i class="far fa-check-circle"></i></td>
            </tr>
            <tr class="table-light">
                <th scope=" row ">Alta de familias o direcciones</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Registro de lugares de acceso para usuarios</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Registro de entradas y salidas</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Reporte de personas activas dentro de la residencial</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Reporte con periodo de fechas de entradas y salidas</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Registro de incidencias</th>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Personalizaciones de colores y logotipo</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Registro de visitantes mediante reportes con fotografías</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Registro de visitas programadas</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Envío de QR a invitados por WhatsApp o Email</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Almacenamiento de reportes de visitas por un periodo de 30 días</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-primary ">
                <th scope="row ">Integración con dispositivos de control de acceso</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
            <tr class="table-light">
                <th scope="row ">Ubicación GPS</th>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-times-circle "></i></td>
                <td><i class="far fa-check-circle "></i></td>
            </tr>
        </tbody>
    </table>

</section> -->
<!-- ****** SECCIÓN PLANES ****** -->

<!-- <div id="planes" class="container animated fadeIn">
    <h1 class="titulo centrar-texto seccion ">Planes</h1>
    <hr>
</div>

<section class=" banner fondo-banners  animated fadeIn table-responsive container">
    <table class="table ">
        <thead class="table-dark">
            <tr>
                <th scope="col"><i class="fas fa-shield-alt "></i> Planes</th>
                <th scope="col"><i class="far fa-id-badge"></i> Tipo Licencia</th>
                <th scope="col"><i class="fas fa-users"></i> Usuarios</th>
                <th scope="col"><i class="fas fa-map-marker-alt"></i> Visitas Diarias</th>

            </tr>
        </thead>
        <tbody class="table-hover">
            <tr class="table-primary">
                <th scope="row">Plan 0 +</th>
                <td>Negocio</td>
                <td>100</td>
                <td>75</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan A +</th>
                <td>Negocio</td>
                <td>200</td>
                <td>100</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan B +</th>
                <td>Negocio</td>
                <td>400</td>
                <td>200</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan C +</th>
                <td>Negocio</td>
                <td>800</td>
                <td>600</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan D +</th>
                <td>Negocio</td>
                <td>1600</td>
                <td>1000</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan E +</th>
                <td>Negocio</td>
                <td>3200</td>
                <td>1500</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan F +</th>
                <td>Negocio</td>
                <td>6400</td>
                <td>2000</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan G +</th>
                <td>Negocio</td>
                <td>12000</td>
                <td>2500</td>

            </tr>
        </tbody>
    </table>


    <table class="table ">
        <thead class="table-dark">
            <tr>
                <th scope="col"><i class="fas fa-shield-alt fa-color"></i> Planes</th>
                <th scope="col"><i class="far fa-id-badge fa-color"></i> Tipo Licencia</th>
                <th scope="col"><i class="fas fa-users fa-color"></i> Usuarios</th>

            </tr>
        </thead>
        <tbody class="table-hover">
            <tr class="table-primary">
                <th scope="row">Plan 0</th>
                <td>Básico</td>
                <td>100</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan A</th>
                <td>Básico</td>
                <td>200</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan B</th>
                <td>Básico</td>
                <td>400</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan C</th>
                <td>Básico</td>
                <td>800</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan D</th>
                <td>Básico</td>
                <td>1600</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan E</th>
                <td>Básico</td>
                <td>3200</td>

            </tr>
            <tr class="table-primary">
                <th scope="row">Plan F</th>
                <td>Básico</td>
                <td>6400</td>

            </tr>
            <tr class="table-light">
                <th scope="row">Plan G</th>
                <td>Básico</td>
                <td>12000</td>

            </tr>
        </tbody>
    </table>
</section> -->


<!-- BANNER SOLUCION-INICIO -->
<!-- <div class="banner-store parallax ">
    <div class="container ">
        <div class="resumen-banner-inicio ">

            <h2 class="h1-upercase centrar-texto seccion titulo ">¿Quieres tener mayor control en tu residencia o empresa?
            </h2>
            <div class="contenido-banner-inicio ">
                <ul class="list-group ">
                    <li>Las personas evaden tu seguridad</li>
                    <li>No se tiene un registro de quienes acceden</li>
                    <li>El proceso para ingresar al residencial es muy tardador</li>
                    <h4 class="h4-banner-inicio ">¡Tenemos tu solucion!</h4>

                </ul>


                <div class="imga-banner-inicio ">
                    <img src="assets/img/banner-inicio.jpg " alt="imagen-nosotros ">
                </div>



            </div>


        </div>
    </div>
</div> -->







<!-- ****** SECTION TESTIMONIAL****** -->

<!-- <section class="invitados container seccion ">
    <h2 class="h1-upercase centrar-texto titulo ">Testimoniales</h2>
    <hr>
    <ul class="clearfix lista-testimonial no-diseño ">
        <li>
            <div class="testimonial ">
                <img src="assets/img/persona4.png " alt=" ">
                <p><span class="nombre-testimonial ">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>

            </div>
        </li>
        <li>
            <div class="testimonial ">
                <img src="assets/img/persona4.png " alt=" ">
                <p><span class="nombre-testimonial ">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>
            </div>
        </li>
        <li>
            <div class=" testimonial ">
                <img src="assets/img/persona4.png " alt=" ">
                <p><span class="nombre-testimonial ">Nombre persona:</span> ullamcorper dolor at augue mattis, bibendum porta elit consequat. Vivamus a ligula rutrum, pharetra tortor ut, aliquam purus. Praesent eget accumsan justo, vel aliquet ante. Proin
                    facilisis egestas orci. Etiam in posuere justo, vporttitor justo. </p>
            </div>
        </li>


    </ul>
</section> -->