<section class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar">
        <img src="assets/img/escolar-fondo.png " class="imga-banner-escolar" alt="imagen-nosotros ">

        <!-- <div class="texto-escolar">

            <img src="assets/img/iconEAhd.png" alt="">

            <p><span>Validación de personas autorizadas</span> para recogida de alumnos <br>
                <span>Mayor seguridad</span> para la comunidad <br>
                <span>Información en</span> tiempo real
            </p>

        </div> -->

    </div>
</section>


<section id="contacto" class=" banner-contacto2 fondo-banner-escolar2 animated fadeIn ">
    <div class="contenido-banner-cotacto2 ">

        <div class="">
            <!-- <h1 class="  seccion ">¿Estás interesado en <br> Easyaccess?</h1> -->
            <p class="">Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y <br> disfrutar de los servicios de Easyaccess

            </p>
            <img src="assets/img/escuela-iconos1.png" alt="">
        </div>

        <!-- <div>
            <img src="assets/img/escuela-iconos2.png" alt="">
        </div> -->


        <div class="">
            <!-- <h1 class="  seccion ">¿Estás interesado en <br> Easyaccess?</h1> -->
            <p class=" ">Nuestra aplicación móvil cuenta con todas las funciones necesarias para utilizar y <br> disfrutar de los servicios de Easyaccess

            </p>
            <img src="assets/img/escuela-iconos2.png" alt="">
        </div>

    </div>

</section>