<section class=" fondo-banner-escolar animated fadeIn ">

    <div class="contenido-banner-escolar">



        <img src="assets/img/escolar-fondo.png " class="imga-banner-escolar" alt="imagen-nosotros ">


        <div class="texto-escolar">

            <p><span>Validación de personas autorizadas</span> para recogida de alumnos <br>
                <span>Mayor seguridad</span> para la comunidad <br>
                <span>Información en</span> tiempo real
            </p>

        </div>

    </div>






</section>