<app-navbar></app-navbar>


<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-contacto></app-contacto> -->




<footer class="footer-home">
    <p class="p1">&copy; Copyright 2021 EASYACCESS - Todos los Derechos Reservados. <br> Términos y condiciones | Políticas de privacidad | Política anticorrupción</p>
    <p class="p2">EASYACCESS es el producto líder del mercado en sistemas de control de accesso para Visitantes. <br> Desarrollado por SISEC, compañía de seguridad electrónica que desde 1990 brinda servicios de instalación, monitoreo de elementos y dispositivos de
        vigilancia e intrusión. </p>
</footer>