<div class="fondo-login">

</div>

<section id="login" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}" class="bottom-login">
    <div class="container ">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-md-12">
                    <form class="container top-ques" (ngSubmit)="loginForm(formAuth)" #formAuth="ngForm">
                        <img src="assets/img/iconoEA.png" class="icono-login">
                        <h3 class="text-center">INICIAR SESIÓN</h3>
                        <!-- <div *ngIf="formAuth.submitted && formAuth.controls['cuenta'].errors" class="alert alert-danger" role="alert">
                            Ingrese su número de cuenta
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="text" class="form-control" placeholder="No.Cuenta" name="cuenta" ngModel required [(ngModel)]="loginUser.cuenta">
                        </div> -->
                        <!-- <div class="form-floating mb-3">
                            <input type="text" class="form-control floating-campo-margin" id="floatingInput" placeholder="name@example.com" name="cuenta" ngModel required [(ngModel)]="loginUser.cuenta">
                            <label for="floatingInput" class="text-muted">Número de cuenta</label>
                        </div> -->

                        <div *ngIf="formAuth.submitted && formAuth.controls['nombre'].errors" class="alert alert-danger" role="alert">
                            Ingrese su nombre
                        </div>
                        <!-- <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre" ngModel required [(ngModel)]="loginUser.nombre">
                            </div> -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control floating-campo-margin" id="floatingInput1" placeholder="name@example.com" name="nombre" ngModel required [(ngModel)]="loginUser.nombre">
                            <label for="floatingInput1" class="text-muted">Nombre de usuario</label>
                        </div>


                        <div *ngIf="formAuth.submitted && formAuth.controls['pass'].errors" class="alert alert-danger" role="alert">
                            Ingrese su contraseña
                        </div>
                        <!-- <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" name="pass" ngModel required [(ngModel)]="loginUser.pass" id="exampleInputPassword1">
                        </div> -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control floating-campo-margin" id="floatingInput2" placeholder="name@example.com" name="pass" ngModel required [(ngModel)]="loginUser.pass">
                            <label for="floatingInput2" class="text-muted">Contraseña</label>
                        </div>


                        <button type="submit" class="btn btn-primary btn-block boton-login">Ingresar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>