<section>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade  animated fadeIn" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

    </ol> -->
        <div class="carousel-inner ">

            <div class="carousel-item  active  video carousel-item-inicio parallax">
                <video src="assets/videos/Funciones-video.mp4" controls autoplay muted loop class="d-block "></video>
                <div class="carousel-caption carousel-caption-funciones header-imagen-fondos  d-md-block">
                    <h5>Funcionalidades</h5>
                    <hr>
                </div>
            </div>


        </div>


    </div>
</section>


<!-- ****** SECTION FUNCIONES ****** -->
<div class="fondo-banners-entrada-salida banner">
    <section id="funcion1" class="container seccion animated fadeIn ">
        <h1 class="titulo-entrada-salidas centrar-texto seccion ">Control de entradas y salidas</h1>

        <hr>
        <div class="card-deck habilidad">
            <p class="titulophabi">Control de entradas y salidas te permitirá llevar el registro de los accesos que realicen tus usuarios registrados en el sistema y cuenta con las validaciones necesarias de seguridad.
            </p>
            <div class="card " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card1 efecto-card ">
                    <img src="assets/img/calendario.png " class="redondeado-relleno " alt="frontend ">
                    <h3 class="card-title seccion ">validación de horario</h3>
                    <p class="card-text ">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida. </p>
                </div>
            </div>
            <div class="card card2 " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card2 shadow-cards efecto-card ">
                    <img src="assets/img/validar-usuario.png " class="redondeado-relleno " alt="backend ">
                    <h3 class="card-title seccion ">validación del estado de usuario</h3>
                    <p class="card-text ">Se valida que el usuario que intenta acceder esté activo en el sistema.</p>
                </div>
            </div>
            <div class="card card2 " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card3 shadow-cards efecto-card ">
                    <img src="assets/img/proteger.png " class="redondeado-relleno " alt="soporte ">
                    <h3 class="card-title seccion ">Anti-passback</h3>
                    <p class="card-text ">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>
                </div>
            </div>

        </div>
    </section>

</div>


<!-- ****** SECTION FUNCIONES GESTION DE USUARIOS ****** -->

<section id="funcion2" class=" fondo-banners-entrada-salida4 banner animated fadeIn ">
    <div class="contenido-banner-gestion ">

        <div class="imga-banner-gestion ">
            <img src="assets/img/gestion-usuarios.png " alt="imagen-nosotros ">
        </div>
        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Gestion de usuarios</h1>
            <hr>
            <p>Easyaccess te permite gestionar distintos tipos de usuarios y te muestra día a día cuantos de estos han ingresado.
            </p>
            <ul class="texto-ul-gestion">
                <li>Proveedores</li>
                <li>Residentes</li>
                <li>Empleados domésticos</li>
                <li>Obreros</li>
                <li>Personal Administrativo</li>
                <li>Guardias</li>
                <li>Mantenimiento</li>
                <li>Visitantes</li>
            </ul>
        </div>

    </div>
</section>

<!-- ****** SECTION FUNCIONES INFORMACION MEDIANTE QR, SLIDER ****** -->
<div id="funcion3" class="container animated fadeIn ">
    <h1 class="titulo centrar-texto seccion ">Información completa mediante QR</h1>
    <hr>
</div>
<section id="funcion3">


    <div id="carouselExampleCaptionss" class="carousel slide animated fadeIn" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptionss " data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptionss " data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptionss " data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptionss " data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptionss " data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner carousel-item-QR parallax ">

            <div class="carousel-item carousel-itemm active ">
                <img src="assets/img/QR-1.jpg " class="d-block carousel-imagen-QR " alt="... ">
                <div class="carousel-caption carousel-caption-QR d-md-block ">
                    <h5>Escáner QR</h5>

                    <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                </div>
            </div>

            <div class="carousel-item ">
                <img src="assets/img/QR-2.jpg " class="d-block carousel-imagen-QR " alt="... ">
                <div class="carousel-caption carousel-caption-QR d-md-block ">
                    <h5>Presionar botón escanear</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
            </div>
            <div class="carousel-item ">
                <img src="assets/img/QR-3.jpg " class="d-block carousel-imagen-QR " alt="... ">
                <div class="carousel-caption carousel-caption-QR d-md-block ">
                    <h5>Escanear QR</h5>
                    <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                </div>
            </div>
            <div class="carousel-item ">
                <img src="assets/img/QR-4.jpg " class="d-block carousel-imagen-QR " alt="... ">
                <div class="carousel-caption carousel-caption-QR d-md-block ">
                    <h5>Obtener información</h5>
                    <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                </div>
            </div>
            <div class="carousel-item ">
                <img src="assets/img/QR-5.jpg " class="d-block carousel-imagen-QR " alt="... ">
                <div class="carousel-caption carousel-caption-QR d-md-block ">
                    <h5>Información obtenida</h5>

                </div>
            </div>

        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptionss" role="button " data-slide="prev">
            <!-- <span class="carousel-control-prev-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleCaptionss" role="button " data-slide="next">
            <!-- <span class="carousel-control-next-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
    </div>
</section>

<!-- ****** SECTION FUNCIONES CONTROL DE VISITAS ****** -->


<section id="funcion4" class=" fondo-banners-entrada-salida5 banner animated fadeIn ">
    <div class="contenido-banner-control-visitas ">


        <div class="texto-control-visitas control-visitas ">
            <h1 class="titulo centrar-texto seccion ">Control de visitas</h1>
            <hr>
            <p>Con este apartado podrás tener los registros de las visitas realizadas a tu residencial o empresa mediante la captura de información del visitante y la captura de imágenes los cuales generaran un reporte pdf con el resumen de la visita.
            </p>


            <!-- <img src="assets/img/registro.png " alt=" "> -->


        </div>

        <ul class="list-group list-group-flush lista-span">
            <li class="list-group-item list-group-item-light "><span>Visitante:</span> Nombres y appellidos</li>
            <li class="list-group-item list-group-item-light "><span>Dirección:</span> Lugar al cual se dirige el visitante</li>
            <li class="list-group-item list-group-item-light "><span>Motivo:</span> Razón por la cual se realiza la visita</li>
            <li class="list-group-item list-group-item-light "><span>Datos de vehículo:</span> Modelo, Marca, Placas y Color</li>
            <li class="list-group-item list-group-item-light "><span>Identificador:</span> Este es todo medio que se útiliza para asignarle al visitante con el fin de poder apreciar fácilmente que es un visitante, ejemplos: conos, tarjetas, credenciales, etc</li>
            <li class="list-group-item list-group-item-light "><span>Fotos:</span> Permite capturar del vehículo, identificación y persona</li>
            <li class="list-group-item list-group-item-light "><span>Acompañantes:</span> Permite registrar el número de acompañantes que van con el visitante</li>
        </ul>



    </div>
</section>

<!-- ****** SECTION FUNCIONES PROGRAMAR VISITA FACIL Y SENCILLA ****** -->

<div id="funcion5" class="container animated fadeIn ">
    <h1 class="titulo centrar-texto seccion ">Programa una visita de forma fácil y sencilla</h1>
    <hr>
</div>
<section id="funcion5">
    <div id="carouselExampleCaptions-visita" class="carousel slide animated fadeIn " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions-visita" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions-visita" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions-visita" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions-visita" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner carousel-item-pvisita parallax ">

            <div class="carousel-item active ">
                <img src="assets/img/programa-visita1-img.jpeg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>

            <div class="carousel-item ">
                <img src="assets/img/programa-visita2-img.jpeg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets/img/programa-visita3-img.jpeg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets/img/programa-visita4-img.jpeg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>


        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptions-visita" role="button " data-slide="prev">
            <!-- <span class="carousel-control-prev-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleCaptions-visita" role="button " data-slide="next">
            <!-- <span class="carousel-control-next-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
    </div>
</section>


<!-- ****** SECTION FUNCIONES CONTROL DE INCIDENCIAS ****** -->

<section id="funcion6" class="fondo-banners-entrada-salida banner animated fadeIn ">
    <div class="contenido-banner-control-incidencias ">


        <div class="texto-control-incidencias control-visitas ">
            <h1 class="titulo centrar-texto seccion ">Control de incidencias</h1>
            <hr>
            <p>Obten la información de los accesos denegados de todos los usuarios mediante la app con el fin de tomar medidas necesarias para garantizar la seguridad
            </p>



        </div>
        <div class="imga-banner-control-incidencias ">
            <img src="assets/img/control-incidencias1.jpg " alt="imagen-nosotros ">
            <img src="assets/img/control-incidencias2.jpg " alt="imagen-nosotros ">
        </div>



    </div>
</section>

<!-- ****** SECTION FUNCIONES REGISTRAR INFORMACION VISITANTES ****** -->
<div id="funcion7" class="container animated fadeIn ">
    <h1 class="titulo centrar-texto seccion ">Registra la información de tus visitantes de una manera fácil</h1>
    <hr>
</div>
<section id="funcion7">


    <div id="carouselExampleCaptions-visitantes" class="carousel slide animated fadeIn" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions-visitantes" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions-visitantes" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions-visitantes" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions-visitantes" data-slide-to="3"></li>
            <!-- <li data-target="#carouselExampleCaptions-visitantes " data-slide-to="4 "></li> -->

        </ol>
        <div class="carousel-inner carousel-item-informacion-visitas parallax ">


            <div class="carousel-item active ">
                <img src="assets/img/registrar-visitantes1.jpg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>

            <div class="carousel-item ">
                <img src="assets/img/registrar-visitantes2.jpg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets/img/registrar-visitantes3.jpg " class="d-block carousel-imagen-pvisita " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets/img/registrar-visitantes4.png " class="d-block carousel-imagen4-informacion-visitas " alt="... ">

            </div>


        </div>
        <a class="carousel-control-prev " href="#carouselExampleCaptions-visitantes" role="button " data-slide="prev">
            <!-- <span class="carousel-control-prev-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleCaptions-visitantes" role="button " data-slide="next">
            <!-- <span class="carousel-control-next-icon " aria-hidden="true "></span> -->
            <span class="visually-hidden "></span>
        </a>
    </div>
</section>



<!-- ****** SECTION FUNCIONES INFORMACIÓN VEHÍCULAR ****** -->

<section id="funcion8" class=" fondo-banners-entrada-salida6 banner animated fadeIn ">
    <div class="contenido-banner-informacion-vehicular ">




        <div class="texto-informacion-vehicular informacion-vehicular-icon ">
            <h1 class="titulo centrar-texto seccion ">Información vehícular</h1>
            <hr>
            <p>Easyaccess te permite vincular distintos vehículos a los usuarios registrados en el sistema para aumentar la seguridad al momento de ingresar por accesos vehiculares.
            </p>



        </div>
        <div class="imga-banner-informacion-vehicular ">
            <!-- <img src="assets/img/info-vehiculo1.jpg " alt="imagen-nosotros "> -->
            <img src="assets/img/info-vehiculo2.jpg " alt="imagen-nosotros ">
        </div>





    </div>
</section>
<!-- ****** SECTION FUNCIONES VISITAS PROGRAMADAS ****** -->


<section id="funcion9" class=" fondo-banners-entrada-salida5 banner animated fadeIn ">
    <div class="contenido-banner-control-visitas ">


        <div class="texto-control-vistas control-visitas ">
            <h1 class="titulo centrar-texto seccion ">Vistas programadas</h1>
            <hr>
            <p>Por medio de este modulo los usuarios registrados en el sistema que cuenten con sus credenciales de acceso (usuario y password) podrán agendar visitas próximas hacia ellos, agilizando así el proceso de entrada, evitando retrasos ya que la
                persona invitada podrá recibir un código QR el cual al ser escaneado por el guardia obtendrá toda la información la siguiente información
            </p>


            <!-- <img src="assets/img/registro.png " alt=" "> -->


        </div>

        <ul class="list-group list-group-flush lista-span ">
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Fecha de visita</span> (Fecha especificada)</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Motivo</span> (Asunto por el cual se realiza la visita)</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Hora de entrada</span> (A partir de que horarios se puede acceder)</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Hora de salida</span> (Hora límite para la visita )</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Tolerancia</span> (Tiempo máximo permitido a partir de la hora de entrada)</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Visita permanente</span> Permitirá el acceso todos los días de la semana</li>
            <li class="list-group-item list-group-item-vistasp list-group-item-primary "><span>Visita 24 horas</span> Permitirá el acceso las 24 horas del día</li>
        </ul>



    </div>
</section>






<!-- ****************** INSTRUCCIONES ******************** -->
<section id="instrucciones" class=" fondo-banner-escolar top-ques animated fadeIn ">

    <div class="contenido-banner-escolar banner-escolar">
        <img src="assets/img/img-instrucciones.jpeg " class="imga-banner-escolar2" alt="imagen-nosotros ">

        <!-- <h1 class="texto-titulo-encima-Quees">Easyaccess</h1>
        <p class="texto-abajo-Quees">Instrucciones</p> -->

    </div>


</section>








<!-- ******************* NUEVOS CAROUSELES PARA MOSTRAR *********************** -->
<!-- <div id="beneficios" class="colore-prueba-beneficio">
    <div class="container">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators carousel-indicators2">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 " style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/QR-1.jpg " alt="... "></div>
                                    <div class="img-text">
                                        <h2>Escáner qr</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/QR-2.jpg " alt="... "></div>
                                    <div class="img-text">
                                        <h2>Presionar botón de escanear</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/QR-3.jpg " alt="... "></div>
                                    <div class="img-text">
                                        <h2>Escanear qr</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/QR-4.jpg " alt="... "></div>
                                    <div class="img-text">
                                        <h2>Obtener Información</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/QR-5.jpg " alt="... "></div>
                                    <div class="img-text">
                                        <h2>Información en pantalla</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div class="single-box">
                                    <div class="img-area"><img src="assets/img/backend.png" alt=""></div>
                                    <div class="img-text">
                                        <h2>Imágen easyaccess</h2>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit maiores similique necessitatibus illum doloremque excepturi nihil molestias, fugiat, ullam assumenda unde minus quasi autem! Labore tenetur
                                            tempora voluptatem facere!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->