<!-- ****** PORTADA DE FUNCIONALIDADES ****** -->

<section id="home2" class=" fondo-banners-funciones-color animated fadeIn ">

    <div class="contenido-banner-escolar banner-escolar parallax" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
        <img src="assets/img/Funcionalidades-fondo.png " class="imga-banner-escolar" alt="imagen-nosotros ">
        <!-- <p class="titulo-sectores-funciones" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">Funcionalidades</p> -->

        <img class="img-encima-funciones" src="assets/img/icono-sectores-funciones.png" alt="" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
        <!-- <p>Nuestra aplicación móvil cuenta con todas las funciones necesarias</p> -->
        <p class="texto-abajo-sectores-funciones" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
            Contamos con distintas funciones <span> para tu sitio. </span><br>
            <span>Mayor seguridad</span> para tu sitio.<br> Información en <span>tiempo real.</span>
        </p>

    </div>


</section>




<!-- ******************************************* F U N C I O N E S *********************************************** -->

















<!-- ****** CONTROL DE ENTRADAS Y SALIDAS ****** -->


<!-- <div class="fondo-banners-entrada-salida banner" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <section id="funcion1" class="container seccion animated fadeIn ">
        <h1 class="titulo-entrada-salidas centrar-texto seccion ">Control de entradas y salidas</h1>

        <hr>
        <div class="card-deck habilidad" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
            <p class="titulophabi">Control de entradas y salidas te permitirá llevar el registro de los accesos que realicen tus usuarios registrados en el sistema y cuenta con las validaciones necesarias de seguridad.
            </p>
            <div class="card " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card1 efecto-card ">
                    <img src="assets/img/calendario.png " alt="frontend ">
                    <h3 class="card-title  ">validación de horario</h3>
                    <p class="card-text ">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida. </p>
                </div>
            </div>
            <div class="card card2 " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card2 efecto-card ">
                    <img src="assets/img/validar-usuario.png " alt="backend ">
                    <h3 class="card-title  ">validación del estado de usuario</h3>
                    <p class="card-text ">Se valida que el usuario que intenta acceder esté activo en el sistema.</p>
                </div>
            </div>
            <div class="card card2 " style="border: 0ch; border-radius: 6%; ">
                <div class="card-body card-body-habilidades card-body-card3  efecto-card ">
                    <img src="assets/img/proteger.png " alt="soporte ">
                    <h3 class="card-title  ">Anti-passback</h3>
                    <p class="card-text ">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>
                </div>
            </div>

        </div>
    </section>

</div> -->





<section id="funcion1" class="top-ques" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <h1 class="titulo-entrada-salidas centrar-texto seccion ">Control de entradas y salidas</h1>
    <div class="card-group">

        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <!-- <img src="assets/img/horario-funciones.png" class="card-img-top" alt="..."> -->
            <img src="assets/img/antipasback-funciones.png" style="background-color:rgba(32, 178, 171, 0.5); border-radius: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Validación de usuario</h5>
                <p class="card-text">Control de entradas y salidas te permitirá llevar el registro de los accesos que realicen tus usuarios registrados en el sistema y cuenta con las validaciones necesarias de seguridad.</p>

            </div>
        </div>
        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <img src="assets/img/estadousuario-funciones.png" style="background-color:rgba(32, 178, 171, 0.5); border-radius: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Validación del estatus de usuario</h5>
                <p class="card-text">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida.</p>

            </div>
        </div>
        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <img src="assets/img/antipasback-funciones.png" style="background-color:rgba(32, 178, 171, 0.5); border-radius: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anti-Passback</h5>
                <p class="card-text">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>

            </div>
        </div>
    </div>
</section>
<section id="funcion1" class="top-ques" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <h1 class="titulo-entrada-salidas centrar-texto seccion ">Control de entradas y salidas</h1>
    <div class="card-group">

        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <!-- <img src="assets/img/horario-funciones.png" class="card-img-top" alt="..."> -->
            <img src="assets/img/info-vehiculo3.png" style="background-color:rgba(32, 178, 171, 0.5); border-radius: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Validación de usuario</h5>
                <p class="card-text">Control de entradas y salidas te permitirá llevar el registro de los accesos que realicen tus usuarios registrados en el sistema y cuenta con las validaciones necesarias de seguridad.</p>

            </div>
        </div>
        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <img src="https://image.shutterstock.com/shutterstock/photos/1743727475/display_1500/stock-vector-user-icons-with-active-inactive-add-status-1743727475.jpg" style="background-color:rgba(32, 178, 171, 0.5); border-radius: 50%;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Validación del estado de usuario</h5>
                <p class="card-text">La aplicación verifica que el usuario cumpla con las reglas de horario establecidas para su ingreso o salida.</p>

            </div>
        </div>
        <div class="card contenido-entradas-salidas" style="border: 0ch;">
            <img src="https://www.accesor.com/wp-content/uploads/xAntipasback.jpg.pagespeed.ic.Cyhb5MSL0g.jpg" style="background-color:rgba(32, 178, 171, 0.5);" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Anti-Passback</h5>
                <p class="card-text">Esta función permitirá el acceso a tus usuarios solo si se ha registrado una salida previamente, lo cual es de gran utilidad para impedir varios ingresos con el mismo acceso.</p>

            </div>
        </div>
    </div>
</section>






<!-- ****** SECTION FUNCIONES GESTION DE USUARIOS ****** -->

<section id="funcion2" class=" fondo-banners-entrada-salida-blanco banner animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="contenido-banner-gestion ">

        <div class="imga-banner-gestion ">
            <img src="assets/img/gestion-usuarios3.png " style="background-color:rgba(135, 207, 235, 0.37); border-radius: 50%;" alt="imagen-nosotros ">

        </div>
        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Gestión de usuarios</h1>
            <hr>
            <p> <span class="easyaccess"> Easy</span>Access te permite gestionar distintos tipos de usuarios y te muestra día a día cuantos de estos han ingresado.
            </p>
            <ul class="texto-ul-gestion">
                <li>Proveedores</li>
                <li>Residentes</li>
                <li>Empleados domésticos</li>
                <li>Obreros</li>
                <li>Personal Administrativo</li>
                <li>Guardias</li>
                <li>Mantenimiento</li>
                <li>Visitantes</li>
            </ul>
        </div>

    </div>
</section>













<!-- ****** INFORMACIÓN VEHICULAR ****** -->

<section id="funcion4" class=" fondo-banners-entrada-salida-blanco banner animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="contenido-banner-informacion-vehicular">


        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Información vehicular</h1>
            <hr>
            <p> <span class="easyaccess"> Easy</span>Access te permite vincular distintos vehículos a los usuarios registrados en el sistema para aumentar la seguridad al momento de ingresar por accesos vehiculares.
            </p>


        </div>

        <div class="imga-banner-gestion ">
            <img src="assets/img/info-vehiculo3.png " style="background-color:rgba(152, 251, 152, 0.37); border-radius: 50%;" alt="imagen-nosotros ">

        </div>


    </div>
</section>












<!-- ****** CONTROL DE INCIDENCIAS ****** -->

<section id="funcion3" class=" fondo-banners-entrada-salida-blanco banner animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="contenido-banner-gestion ">

        <div class="imga-banner-gestion ">
            <img src="assets/img/control-incidencias2.png  " style="background-color:rgba(244, 165, 96, 0.363); border-radius: 50%;" alt="imagen-nosotros ">

        </div>
        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Control de incidencias</h1>
            <hr>
            <p>Obtén la información de los accesos denegados de todos los usuarios mediante la app con el fin de tomar medidas necesarias para garantizar la seguridad
            </p>

        </div>

    </div>
</section>












<!-- ****** VISITAS PROGRAMADAS ****** -->

<section id="funcion5" class=" fondo-banners-entrada-salida-blanco banner animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="contenido-banner-informacion-vehicular ">


        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Visitas programadas</h1>
            <hr>
            <p>Por medio de este módulo los usuarios registrados en el sistema que cuenten con sus credenciales de acceso (usuario y contraseña) podrán agendar visitas próximas hacia ellos, agilizando así el proceso de entrada, evitando retrasos ya que la
                persona invitada podrá recibir un código QR el cual al ser escaneado por el guardia obtendrá toda la información.
            </p>

        </div>

        <div class="imga-banner-gestion ">
            <img src="assets/img/visitas-programadas.png  " style="background-color:rgba(0, 255, 128, 0.377); border-radius: 50%;" alt="imagen-nosotros ">

        </div>

    </div>
</section>












<!-- ****** CONTROL DE VISITAS ****** -->

<section id="funcion6" class=" fondo-banners-entrada-salida-blanco banner animated fadeIn" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="contenido-banner-gestion ">

        <div class="imga-banner-gestion ">
            <img src="assets/img/control-visitas1.png   " style="background-color:rgba(255, 217, 0, 0.445); border-radius: 50%;" alt="imagen-nosotros ">

        </div>
        <div class="texto-inicial ">
            <h1 class="titulo centrar-texto seccion ">Control de visitas</h1>
            <hr>
            <p>Con este apartado podrás tener los registros de las visitas realizadas a tu sitio mediante la captura de información del visitante y la captura de imágenes los cuales generaran un reporte PDF con el resumen de la visita.
            </p>


        </div>

    </div>
</section>













<!-- ****************************** I N S T R U C C I O N E S ************************************** -->










<!-- ****** IMAGEN ****** -->
<section id="instrucciones" class=" top-ques">

    <img src="assets/img/img-instrucciones.jpeg " class="imga-banner-escolar2 " alt="imagen-nosotros ">
</section>












<!-- ****** ELABORAR REGISTROS CARDS ****** -->

<h1 class="titulo-instrucciones">Elabora registros con easyaccess</h1>


<div class="card-group  ">
    <div class="card card-instrucciones" style="border: 0ch;">
        <img src="assets/img/instruccion1.png" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text">Ingresa a la aplicación con tus credenciales de <span class="easyaccess"> easy</span>Access y entra a tu panel de administrador.</p>

        </div>
    </div>
    <div class="card card-instrucciones" style="border: 0ch;">
        <img src="assets/img/instruccion2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"><span class="easyaccess"> easy</span>Access te permite registrar a todos tus trabajadores, familiares o conocidos con su información, puedes consultar en la app los registros en tiempo real.</p>

        </div>
    </div>
    <div class="card card-instrucciones" style="border: 0ch;">
        <img src="assets/img/instruccion3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"> Al llegar al sitio escanea el código QR del usuario para obtener la información y autorizar el acceso </p>


        </div>
    </div>

</div>











<!-- ********************** PROGRAMAR UNA VISITA CARD ********************** -->

<h1 class="titulo-instrucciones">¿Cómo programar una visita?</h1>

<div class="card-group ">
    <div class="card card-instrucciones3" style="border: 0ch;">
        <img src="assets/img/Programa-unavisita.png" class="card-img-top" alt="...">
        <div class="card-body titulo-card-instrucciones ">
            <h2 class="card-title">Programa una visita</h2>
            <!-- <p class="card-text">Entra a la aplicación, crea un visitante con sus datos personales. <br> Programa una visita seleccionando al visitante, motivo de visita, agregar acompañantes en caso de que vaya acompañado y por último agregar un vehículo en caso de que tenga
                uno.
            </p> -->

            <ul class="lista-instrucciones">
                <li>Agregar visitantes capturando su información.</li>
                <li>Capturar motivo de la visita.</li>
                <li>Seleccionar horario de la visita.</li>
                <li>Agregar información de vehículo (Opcional).</li>
                <li>Presionar botón crear visita.</li>
                <li>Al agendar una visita se crea un código QR único por cada visitante.</li>

            </ul>
            <h3 class="card-title">¡Ahora tienes una nueva visita programada!</h3>


        </div>
    </div>
    <div class="card card-instrucciones3" style="border: 0ch;">
        <img src="assets/img/Informacion-medianteQR.png" class="card-img-top" alt="...">
        <div class="card-body titulo-card-instrucciones">
            <h2 class="card-title">Información en código QR</h2>
            <ul class="lista-instrucciones">
                <li>El guardia inicia sesión en la aplicación con sus claves de acceso.</li>
                <li>Se dirige a la sección de visitas.</li>
                <li>La aplicación le permite escanear el código QR del visitante y obtener todos los detalles de la visita.</li>
                <li>Completa registros fotográficos.</li>
                <li>Presionar botón crear reporte de visita.</li>


            </ul>
            <h3 class="card-title">¡Listo, tu visitante ya puede acceder!</h3>
        </div>
    </div>
    <div class="card card-instrucciones3" style="border: 0ch;">
        <img src="assets/img/Informacion-del-visitante.png" class="card-img-top" alt="...">
        <div class="card-body titulo-card-instrucciones">
            <h2 class="card-title">Información del visitante</h2>
            <p class="card-text">En la aplicación puedes consultar las visitas que hayan creado, en esa sección de consulta puedes visualizar la información del visitante, también puedes descargar la información en PDF.
            </p>
        </div>
    </div>

</div>












<!-- ****** ICONOS ARRIBA ****** -->

<div class="card-group  top-ques">
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; border-radius: 6%; " style="border: 0ch; border-radius: 6%; ">
        <img src="assets/img/instruccion-funciones1.png" class="card-img-top" alt="...">
        <div class="card-body color-fondo-card color-fondo-card">

            <p class="card-text"> Por medio de la aplicación crea invitaciones en código QR y compartelas con tus invitados.
            </p>



        </div>
    </div>
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; border-radius: 6%; ">
        <img src="assets/img/instruccion-funciones2.png" class="card-img-top" alt="...">
        <div class="card-body color-fondo-card">
            <p class="card-text"> La aplicación te permite registrar distintos vehículos para el ingreso rápido y sencillo.</p>

        </div>
    </div>
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; border-radius: 6%; ">
        <img src="assets/img/instruccion-funciones3.png" class="card-img-top" alt="...">
        <div class="card-body color-fondo-card">
            <!-- <p class="card-text"> Por medio de la aplicación se verifica si el usuario que intenta acceder esté activo en el sistema. La aplicación te permite comprobar cuantas veces el visitante se ha retirado e ingresado al hogar.</p> -->
            <p class="card-text"> Obtén la información de los accesos denegados para tomar medidas y garantizar la seguridad.</p>

        </div>
    </div>



</div>












<!-- ****** ICONOS ABAJO ****** -->
<div class="card-group  bottom-ques">
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; ">
        <img src="assets/img/instruccion-funciones4.png" class="card-img-top" alt="...">
        <div class="card-body color-fondo-card">

            <p class="card-text"> Por medio de la aplicación se verifica si el usuario que intenta acceder esté activo en el sistema.</p>



        </div>
    </div>
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; ">
        <img src="assets/img/instruccion-funciones5.png" class="card-img-top" alt="...">
        <div class="card-body color-fondo-card">
            <p class="card-text"> La aplicación te permite comprobar cuantas veces el visitante se ha retirado e ingresado al sitio.</p>

        </div>
    </div>
    <div class="card card-instrucciones2 imagen-card3" style="border: 0ch; ">
        <!-- <img src="assets/img/instruccion-funciones6.png" class="card-img-top" alt="..."> -->
        <nav class="redes-sociales2">

            <a><i class="fab fa-telegram"></i></a>
            <a><i class="fab fa-twitter-square"></i></a>
            <a><i class="fab fa-whatsapp-square"></i></a>
            <a><i class="fas fa-envelope-square"></i></a>
        </nav>
        <div class="card-body color-fondo-card">
            <p class="card-text"> Comparte las invitaciones de código QR con tus invitados.</p>

        </div>
    </div>


</div>