body {
    /* font-family: 'Oswald', sans-serif !important; */
    font-family: 'Roboto', sans-serif !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/********* NAVBAR *********/

.header_change {
    /* position: fixed; */
    background-color: rgba(0, 0, 0, .9) !important;
    transition: all .7s;
    /* width: 100%; */
    /* z-index: 1; */
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 1%;
}

@media(min-width:768px) {
    .navbar-nav {
        background-color: unset;
    }
}

.navbar-nav a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
}


/* .navbar-nav .dropdown-item {
    color: black !important;
} */

.dropdown-menu {
    background-color: rgba(0, 0, 0, .9) !important;
}

.navbar-nav a:hover {
    cursor: pointer;
    color: #33a3fb !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.w-100 {
    height: 100vh;
}

.easy-span {
    color: #33a3fb;
}

.easy-title {
    letter-spacing: 4px;
    font-weight: 800;
}

.empezar {
    /* background-color: rgba( 0, 0, 0, .3); */
    /* padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    font-weight: 800;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    /* padding: 14px 28px; */
    border-radius: 3%;
    border: 1px solid #4591e7;
    white-space: nowrap;
    /* background-color: rgba( 0, 0, 0, .1); */
}

.empezar-shadow {
    box-shadow: inset 0 0 25px rgba(84, 167, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.2);
}

.empezar:hover {
    background-color: rgba( 255, 255, 255, .1);
    /* background-color: rgba(255, 255, 255, .6); */
    transition: all .5s ease-in-out;
    /* transition: border 0.4s, box-shadow 0.4s;
    transition-property: border, box-shadow; */
}


/* .header-navbar {
    background-size: cover;
}
 */


/* background-color: transparent !important; */


/* .header-navbar .navbar {
    background-color: rgba(0, 0, 0, .9) !important;
    background: rgba(245, 222, 179, 0.397) !important;
    font-size: 20px;
} */


/********* GLOBALES *********/

img {
    max-width: 100%;
}

hr {
    padding: 1px;
    background-color: #5574da;
    /* background-color: #bada55; */
    /* background: linear-gradient(to right, #0466d6, #f3f0f0); */
    margin-top: 25px;
    margin-bottom: 80px;
    border: 0;
    animation: separator-width 1s ease-in-out forwards;
}

@keyframes separator-width {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/********* UTILIDADES *********/

.titulo {
    color: #1f3d54;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
}

@media (min-width: 768px) {
    .titulo {
        color: #1f3d54;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3rem;
    }
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/********* INICIO HEADER *********/

.fondo {
    background: url(assets/img/fondo.jpg);
    height: 30rem;
    background-position: center center;
    background-size: cover;
}


/* @media(min-width:768px) {
    .fondo {
        background: url(assets/img/fondo.jpg);
        height: 60rem;
        background-position: center center;
        background-size: cover;
    }
    .header-texto {
        text-align: center;
        padding-top: 2rem;
    }
    .header-imagen img {
        display: block;
        margin: auto;
        padding-top: 10rem;
        width: 50%;
    }
    .h1-banner-inicio {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 4rem;
    }
    .h4-banner-inicio {
        color: #ffffff;
        text-transform: uppercase;
    }
} */


/* .redondeado img {
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 1rem;
} */


/********* CONTENIDO INSTRUCCIONES *********/


/********* CONTENIDO NOSOTROS *********/

@media(min-width:768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem;
        margin-bottom: 2rem;
    }
}

.imagen img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.texto-nosotros blockquote {
    font-weight: 200;
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    padding: 1rem 0 3rem 0;
}

.texto-nosotros {
    box-shadow: 5px 5px 5px black;
}

@media(min-width:768px) {
    .texto-nosotros {
        box-shadow: 10px 10px 8px black;
        border-radius: 1.5%;
        margin-bottom: 9rem;
    }
}

.texto-nosotros p {
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.5rem;
}


/********* CONTENIDO CARACTERISTICAS NOSOTROS *********/

.li-hover:hover {
    background-color: tomato;
}

.list-group-item {
    font-weight: 300;
    font-size: 1.1rem;
}

.icon {
    color: aquamarine;
}


/******** IMAGEN TESTIMONIAL NOSOTROS ********/

.imagen-testimonial img {
    /* border-radius: 50%; */
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
    border-radius: 1.5%;
    max-width: 100%;
    -webkit-transition: all .5s ease-in-out;
    /* opacity: 0.1; */
}

.imagen-testimonial:hover img {
    -webkit-transform: scale(1.1);
    transform: rotate(3deg);
}

ul.lista-testimonial li {
    float: left;
    padding: 10px;
    /* width: 33.3%; */
}

@media(min-width:480px) {
    ul.lista-testimonial li {
        width: 50%;
    }
}

@media(min-width:768px) {
    ul.lista-testimonial li {
        width: 33.3%;
    }
}

.testimonial {
    position: relative;
    overflow: hidden;
}

.testimonial img {
    max-width: 100%;
    filter: gray;
    /* -webkit-filter: grayscale(1); */
    -webkit-transition: all .5s ease-in-out;
    height: 12.3rem;
}

@media(min-width:768px) {
    .testimonial img {
        max-width: 100%;
        filter: gray;
        -webkit-transition: all .5s ease-in-out;
        height: 12rem;
    }
}

.testimonial img:hover {
    /* -webkit-filter: grayscale(0); */
    -webkit-transform: scale(1.3);
    /* transform: rotate(3deg); */
}

.testimonial p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    text-align: left;
    /* font-family: 'Oswald', sans-serif; */
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
}

@media (min-width:768px) {
    .testimonial p {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px 10px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.70);
        width: 100%;
        text-align: left;
        /* font-family: 'Oswald', sans-serif; */
        color: #ffffff;
        text-transform: uppercase;
        -webkit-transition: all .5s ease-in-out;
    }
}

.testimonial:hover p {
    bottom: -80px;
    opacity: 0;
}

ul.no-diseño {
    list-style: none;
}

.testimonial span {
    color: rgb(1, 255, 255);
}


/******** FOOTER ********/

.footer-home {
    background-color: rgba( 0, 0, 0, .9);
    margin-top: 50px;
    width: 100%;
    height: 100px;
}

.footer-home p {
    text-align: center;
    padding-top: 2.5rem;
    color: #ffffff;
}


/********* BANNER DESCARGAR APP *********/

.parallax::before {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}

.banner-store {
    position: relative;
    height: auto;
}

.banner-store::before {
    background-image: url(assets/img/espacio-fondo.jpg);
    content: '';
}

.resumen-evento li {
    width: 100%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    list-style: none;
}

.banner-store h1 {
    color: #ffffff;
}

.resumen-evento {
    position: relative;
    padding: 120px 0;
}


/* .resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    list-style: none;
} */


/********* BANNER SOLUCIÓN INICIO *********/

@media (min-width:768px) {
    .imga-banner-inicio img {
        width: 450px;
        height: 450px;
        margin-bottom: 1rem;
        border-radius: 150%;
    }
    .contenido-banner-inicio {
        display: grid;
        grid-template-columns: 50% 50%;
        /* grid-column-gap: 7rem; */
        margin-bottom: 2rem;
        /* font-family: 'Oswald', sans-serif; */
    }
    .resumen-banner-inicio li {
        width: 100%;
        float: left;
        /* text-align: center; */
        /* text-transform: uppercase; */
        font-size: 25px;
        /* list-style: none; */
    }
}

.resumen-banner-inicio {
    position: relative;
    padding: 120px 0;
}

@media(min-width:768px) {
    .resumen-banner-inicio li {
        /* width: 100%; */
    }
    .h4-banner-inicio {
        /* margin-top: 4rem; */
        padding-top: 4rem;
    }
}


/* n */


/* n */


/* n */


/* n */


/* n */


/* n */


/******************* INICIO DE CONTENIDO  ******************** */


/* *****CAROUSEL INICIO*****  */

.carousel {
    background-image: url(assets/img/fondo.jpg);
    background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item-inicio {
    position: relative;
    height: auto;
}

.carousel-item-inicio::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
    width: 100%;
    height: 800px;
}

.carousel-caption-inicio h5 {
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 25px; */
}

@media(min-width:768px) {
    .carousel-item-inicio::before {
        width: 100%;
        height: 800px;
    }
    .carousel-caption-inicio h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }
    .carousel-caption-inicio p {
        width: 100%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9px;
    }
}

@media(min-width:1100px) {
    .carousel-item-inicio::before {
        width: 100%;
        height: 1100px;
    }
    .carousel-caption-inicio p {
        width: 100%;
        margin: auto;
        font-size: 40px;
        line-height: 1.9px;
    }
}

.carousel-caption-inicio {
    margin-bottom: 100px;
}

@media(min-width:768px) {
    .carousel-caption-inicio {
        margin-bottom: 270px;
    }
}

video {
    display: block;
    width: 180vh;
    height: 100%;
}

@media (min-width: 768px) {
    video {
        width: 100%;
    }
    .video {
        position: relative;
        max-height: 44rem;
        overflow: hidden;
    }
}

@media (min-width: 1100px) {
    .video {
        position: relative;
        max-height: 63rem;
        overflow: hidden;
    }
}


/********* BANNER SECCION INICIAL 2.0 *********/

.imagen-inicio2 img {
    /* background-image: url(assets/img/Que-es.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .imagen-inicio2 img {
        /* background-image: url(assets/img/Que-es.jpeg); */
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        width: 100%;
    }
}


/********* BANNER SECCION INFORMACIÓN CONTROL 2.0 *********/

.fondo-banners-control {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1d97d1, #0463ac);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D9AD6, #015B97);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-control {
    position: relative;
    padding: 30px;
    /* border-radius: 1%; */
    margin-bottom: 5rem;
    color: white;
}

.banner-control h3 {
    font-size: 2rem;
    font-weight: bold;
}

.banner-control-2 h3 {
    font-size: 2rem;
    font-weight: bold;
}

.banner-control-2 {
    position: relative;
    padding: 30px;
    /* border-radius: 1%; */
    margin-bottom: 5rem;
    color: white;
}

@media(min-width: 768px) {
    .rejilla {
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: 350px 350px 350px;
    }
    .rejilla2 {
        grid-gap: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.icon-rejilla img {
    display: block;
    margin: auto;
    width: 45%;
    height: 60%;
    padding-bottom: 1rem;
}


/********* BANNER SECCION SERVICIOS ESCUELA, RESIDENCIAL ETC 2.0 *********/

.icon-servicios img {
    /* display: block;
    margin: auto; */
    width: 50%;
    height: 50%;
    padding-bottom: 1rem;
}

@media(min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        padding-top: 10rem;
    }
}

.servicio .iconos-service {
    height: 15rem;
    width: 15rem;
    background-color: #093152;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio h3 {
    text-align: center;
    color: #ffffff;
}

.banner-servicios {
    background-image: url(assets/img/fondo-servicios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/********* BANNER SECCION INICIAL *********/

.fondo-banners {
    background-color: #f9f9fa;
}

.banner {
    position: relative;
    padding: 50px 26px;
    /* border-radius: 1%; */
}

.texto-inicial {
    /* box-shadow: 10px 10px 8px black; */
    border-radius: 1.5%;
    margin-bottom: 9rem;
}

.texto-inicial p {
    text-align: center;
    color: #000000;
    font-weight: 200;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .contenido-banner-inicial {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;
    }
}


/************ ******************FUNCIONES **************** **************/


/************ FUNCION CONTROL DE ENTRADA Y SALIDA **************/

@media (min-width: 768px) {
    .habilidades {
        display: flex;
        justify-content: space-between;
    }
}

.habilidad {
    text-align: center;
}

@media (min-width: 768px) {
    .habilidad {
        flex-basis: calc(33.3% - 1rem);
    }
}

.habilidad img {
    height: 30%;
    width: 30%;
}

.habilidad h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
}

.card-text {
    color: #ffffff;
}

.card-body {
    border-radius: 5%;
}

.card-deck {
    border-radius: 5%;
}

.card-body-card1 {
    background: linear-gradient(to right, #005ae0, #15a3c7);
}

.card-body-card2 {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.card-body-card3 {
    background: linear-gradient(to right, #e05a00, #e29a2d);
}

.card-body-habilidades:hover {
    background: linear-gradient(to right, #6ac4d8, #3fa8d8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all .6s ease-in-out;
}

.efecto-card {
    position: relative;
    overflow: hidden;
}

.efecto-card:hover {
    /* -webkit-filter: grayscale(1); */
    -webkit-transform: scale(1.1);
    /* transform: rotate(1deg); */
    border-radius: 0%;
    border-radius: 5%;
}


/* .redondeado-relleno {
    border-radius: 40%;
    background-color: #33a3fb;
} */


/* 
.shadow-cards {
    box-shadow: inset 0 0 25px rgba(84, 167, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.2);
} */


/********* SECTION FUNCIONES GESTION DE USUARIOS *********/

@media (min-width: 768px) {
    .contenido-banner-gestion {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .imga-banner-gestion img {
        width: 100%;
        height: 100%;
        /* margin-bottom: 1rem; */
        border-radius: 1%;
    }
}


/********* SECTION FUNCIONES COMPLETA MEDIANTE QR *********/

.carousel-item-QR {
    position: relative;
    height: auto;
    background-image: url(assets/img/QR2-imagen.png);
}

.carousel-item-QR::before {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 800px;
    /* background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover; */
    content: '';
}

@media(min-width:768px) {
    .carousel-item-QR::before {
        width: 100%;
        height: 800px;
    }
    .carousel-caption-QR h5 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 25px;
    }
}

.carousel-caption-QR h5 {
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}


/* .carousel-caption-QR p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9px;
} */

.carousel-item-QR {
    background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption-QR {
    /* margin-bottom: 100px; */
}

.carousel-imagen-QR {
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    width: 60%;
}

@media(min-width:768px) {
    .carousel-imagen-QR {
        display: block;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 8rem;
        width: 18%;
    }
}


/* .carousel .carousel-indicators li {
    background-color: rgb(140, 0, 255)!important;
} */


/********* SECTION FUNCIONES CONTROL DE VISITAS *********/

.list-group-item:hover {
    /* background-color: #0e314c; */
    background-color: #ffffff;
    transition: all .5s;
}

.lista-span span {
    font-weight: bold;
    color: #0e314c;
    text-transform: uppercase;
}

.texto-control-visitas p {
    text-align: center;
    color: #000000;
    font-weight: 200;
    font-size: 1.2rem;
}

.texto-control-visitas {
    margin-bottom: 1rem;
}

.imga-banner-control-visitas img {
    border-radius: 1%;
}

@media (min-width:768px) {
    .imga-banner-control-visitas img {
        width: 100%;
        height: 100%;
        border-radius: 1%;
    }
    .contenido-banner-control-visitas {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;
    }
}

.control-visitas img {
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}


/********* SECTION FUNCIONES PROGRAMAR VISITA *********/

.carousel-item-pvisita {
    position: relative;
    height: auto;
    background-image: url(assets/img/agendar-cita.jpg);
}

.carousel-item-pvisita::before {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 800px;
    /* background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover; */
    content: '';
}

@media(min-width:768px) {
    .carousel-item-pvisita::before {
        width: 100%;
        height: 900px;
    }
    .carousel-caption-pvisita h5 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 22px;
    }
}

.carousel-caption-pvisita h5 {
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}


/* .carousel-caption-QR p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9px;
} */

.carousel-item-pvisita {
    background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-imagen-pvisita {
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    width: 60%;
}

@media(min-width:768px) {
    .carousel-imagen-pvisita {
        display: block;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 8rem;
        width: 25%;
    }
}


/********* SECTION FUNCIONES CONTROL DE INCIDENCIAS *********/

.texto-control-incidencias p {
    text-align: center;
    color: #000000;
    font-weight: 200;
    font-size: 1.2rem;
}

.texto-control-incidencias {
    margin-bottom: 1rem;
}

.imga-banner-control-incidencias img {
    border-radius: 1%;
}

@media (min-width:768px) {
    .imga-banner-control-incidencias img {
        width: 100%;
        height: 50%;
        border-radius: 1%;
    }
    .contenido-banner-control-incidencias {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;
    }
}


/********* SECTION FUNCIONES INFORMACION VISITANTES *********/

.carousel-item-informacion-visitas {
    position: relative;
    height: auto;
    background-image: url(assets/img/registrar-visitantes-fondo.jpg);
}

.carousel-item-informacion-visitas::before {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 800px;
    /* background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover; */
    content: '';
}

@media(min-width:768px) {
    .carousel-item-informacion-visitas::before {
        width: 100%;
        height: 900px;
    }
    .carousel-caption-pvisita h5 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 22px;
    }
}

.carousel-caption-pvisita h5 {
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}


/* .carousel-caption-QR p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9px;
} */

.carousel-item-informacion-visitas {
    background-repeat: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-imagen-pvisita {
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    width: 60%;
}

@media(min-width:768px) {
    .carousel-imagen-pvisita {
        display: block;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 8rem;
        width: 25%;
    }
}

.carousel-imagen4-informacion-visitas {
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    width: 80%;
}

@media(min-width:768px) {
    .carousel-imagen4-informacion-visitas {
        display: block;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 8rem;
        width: 36%;
    }
}


/********* SECTION FUNCIONES INFORMACION VEHICULAR *********/

.fondo-banner-vehicular {
    background-color: #0ebbce81;
}

.informacion-vehicular-icon img {
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}

.texto-informacion-vehicular p {
    text-align: center;
    color: #000000;
    font-weight: 200;
    font-size: 1.2rem;
}

.texto-informacion-vehicular {
    margin-bottom: 1rem;
}

.imga-banner-control-incidencias img {
    border-radius: 1%;
}

@media (min-width:768px) {
    .imga-banner-informacion-vehicular img {
        /* width: 50%; */
        height: 100%;
        border-radius: 1%;
    }
    .contenido-banner-informacion-vehicular {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
        margin-bottom: 2rem;
    }
}


/********* SECTION FUNCIONES VISTAS PROGRAMADAS *********/

.list-group-item-vistasp:hover {
    /* background-color: #0e314c; */
    background-color: #15a3c7;
    transition: all .5s;
}


/********* SECTION INSTRUCCIONES *********/

@media (min-width: 768px) {
    .instrucciones {
        display: flex;
        justify-content: space-between;
    }
}

.instrucciones {
    text-align: center;
}

@media (min-width: 768px) {
    .instrucciones {
        flex-basis: calc(33.3% - 1rem);
    }
}

.instrucciones img {
    height: 75%;
    width: 75%;
    border-radius: 2%;
    border: 5px solid rgba(8, 90, 243, .8);
}

.instrucciones h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}

.card-text {
    color: #ffffff;
}

.card-body {
    border-radius: 5%;
}

.card-deck {
    border-radius: 5%;
}

.card-body-instruction1 {
    background-color: #f9f9fa;
    /* background: linear-gradient(to right, #005ae0, #15a3c7); */
}

.card-body-instruction2 {
    background-color: #f9f9fa;
    /* background: linear-gradient(to right, #4A00E0, #8E2DE2); */
}

.card-body-instruction3 {
    background-color: #f9f9fa;
    /* background: linear-gradient(to right, #e05a00, #e29a2d); */
}

.efecto-card-instrucciones img {
    position: relative;
    overflow: hidden;
}

.efecto-card-instrucciones img:hover {
    /* -webkit-filter: grayscale(1); */
    -webkit-transform: scale(1.1);
    /* transform: rotate(1deg); */
    border-radius: 0%;
    border-radius: 2%;
    transition: all .5s ease-in-out;
    border: 5px solid rgb(13, 45, 228);
}


/************************ SECCION CARACTERISTICAS ***************************/

.fa-check-circle {
    color: rgb(23, 199, 23);
}

.fa-times-circle {
    color: rgb(168, 10, 10);
}

.titulo-caracteristicas {
    text-transform: uppercase;
}


/************************ SECCION PLANES ***************************/

.fa-id-badge {
    color: #F4D03F;
}

.fa-users {
    color: #F4D03F;
}

.fa-shield-alt {
    color: #F4D03F;
}

.fa-map-marker-alt {
    color: #F4D03F;
}

.fa-color {
    color: #3498DB;
}


/********* FORMULARIO CONTACTO *********/

.fondo-banners-contacto {
    /* background-color: #cc1818; */
    position: relative;
    /* padding: 400px 100px; */
    background-image: url(assets/img/fondo-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-banners-contacto::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-form {
    /* background-color: rgba(0, 0, 0, 1); */
    margin-top: 100px;
    padding: 20px;
    margin-bottom: 2rem;
    /* box-shadow: 0px 0px 10px 3px #000000; */
    border-radius: 1%;
    text-align: center;
}

.contact-form label {
    font-weight: 400;
    color: #D5D8DC;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .contact-form {
        /* box-shadow: 0px 0px 10px 3px #000000; */
        text-align: left;
    }
}

.imagen-contacto img {
    /* border-radius: 1.5%; */
    max-width: 100%;
    /* filter: gray;
    -webkit-filter: grayscale(1); */
    -webkit-transition: all .5s ease-in-out;
}

.imagen-contacto:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1, 1);
    transform: rotate(3deg);
}

.h1-upercase {
    text-transform: uppercase;
}

.fa-coloricon-contacto {
    color: #B2BABB;
}


/********* CAPTCHA *********/

.captcha {
    padding-top: 1rem;
}

.captcha-instruccion {
    color: #F1C40F;
}