/* You can add global styles to this file, and also import other style files */

body {
    /* font-family: 'Oswald', sans-serif !important; */
    font-family: 'Roboto', sans-serif !important;
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1565C0, #1a1919); */
    background: linear-gradient(to right, #080808, #07173a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


/********* NAVBAR *********/

a {
    color: #1565C0;
}

.easy-span {
    color: #33a3fb;
}

.easy-title {
    letter-spacing: 4px;
    font-weight: 800;
}

.empezar {
    /* background-color: rgba( 0, 0, 0, .3); */
    /* padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
    font-weight: 800;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 14px 28px;
    border-radius: 3%;
    border: 1px solid #4591e7;
    white-space: nowrap;
    /* background-color: rgba( 0, 0, 0, .1); */
}

.empezar-shadow {
    box-shadow: inset 0 0 25px rgba(84, 167, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.2);
}

.empezar:hover {
    background-color: rgba( 255, 255, 255, .1);
    /* background-color: rgba(255, 255, 255, .6); */
    transition: all .5s ease-in-out;
    /* transition: border 0.4s, box-shadow 0.4s;
    transition-property: border, box-shadow; */
}

.header-navbar {
    background-size: cover;
}


/* background-color: transparent !important; */

.header-navbar .navbar {
    /* background-color: transparent !important; */
    background-color: rgba(0, 0, 0, .6) !important;
    font-size: 20px;
}


/* .sticky-top {
    position: -webkit-sticky;
    position: static;
    top: 56px;
    z-index: 1030;
} */


/* .navbar-nav {
    position: absolute;
    justify-content: center;
    left: 42%;
    grid-column-gap: 4rem;
} */

.nav-item:hover {
    border-radius: 10%;
    transition: all .4s ease-in-out;
}


/********* GLOBALES *********/

img {
    max-width: 100%;
}

hr {
    padding: 1px;
    background-color: #5574da;
    /* background-color: #bada55; */
    /* background: linear-gradient(to right, #0466d6, #f3f0f0); */
    margin-top: 25px;
    margin-bottom: 80px;
    border: 0;
    animation: separator-width 1s ease-in-out forwards;
}

@keyframes separator-width {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/********* UTILIDADES *********/

.titulo {
    color: #ffffff;
    font-weight: 300;
}

.fw-300 {
    font-weight: 200;
}

.centrar-texto {
    text-align: center;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/********* INICIO HEADER *********/

.fondo {
    background: url(assets/img/fondo.jpg);
    height: 60rem;
    background-position: center center;
    background-size: cover;
}

.header-texto {
    text-align: center;
    padding-top: 2rem;
}

.header-imagen img {
    display: block;
    margin: auto;
    padding-top: 10rem;
    width: 30%;
}

.h1-banner-inicio {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
}

.h4-banner-inicio {
    color: #ffffff;
    text-transform: uppercase;
}


/* .redondeado img {
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 1rem;
} */


/* .imagen-inicio {
    background-image: url(assets/img/fondo.jpg);
    background-position: top center;
    background-size: cover;
    height: 27rem;
} */


/* @media(min-width:768px) {
    .imagen-inicio {
        background-image: url(assets/img/imagen2.jpg);
        background-position: top center;
        background-size: cover;
        height: 27rem;
    }
} */


/* .contenido-header {
    padding-top: 40px;
}

.titulo-inicio {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #000000;
} */


/* @media (min-width:768px) {
    .titulo-inicio {
        text-align: center;
        text-transform: uppercase;
        padding-top: 9rem;
        color: #000000;
    }
}

p.slogan {
    text-transform: none!important;
    text-align: center;
    font-size: 22px;
}

@media(min-width:768px) {
    p.slogan {
        font-size: 30px;
        color: #000000;
    }
}

p.slogan span {
    font-weight: bold;
}

h1.nombre-empresa {
    font-size: 8vw;
}

@media(min-width:768px) {
    h1.nombre-empresa {
        font-size: 5vw;
    }
} */


/********* CONTENIDO NOSOTROS *********/

@media(min-width:768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 4rem;
        margin-bottom: 2rem;
        /* font-family: 'Oswald', sans-serif; */
    }
}

.imagen img {
    /* border-radius: 50%; */
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    /* opacity: 0.1; */
}

.texto-nosotros blockquote {
    font-weight: 200;
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    padding: 1rem 0 3rem 0;
    /* color: #000000; */
}

.texto-nosotros {
    box-shadow: 5px 5px 5px black;
}

@media(min-width:768px) {
    .texto-nosotros {
        box-shadow: 10px 10px 8px black;
        /* border: 1px solid #ffffff; */
        border-radius: 1.5%;
        margin-bottom: 9rem;
    }
}

.texto-nosotros p {
    /* font-family: 'Oswald', sans-serif; */
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.5rem;
}


/********* CONTENIDO CARACTERISTICAS NOSOTROS *********/

.li-hover:hover {
    background-color: tomato;
}

.list-group-item {
    font-weight: 300;
    font-size: 1.1rem;
}

.icon {
    color: aquamarine;
}


/******** IMAGEN TESTIMONIAL NOSOTROS ********/

.imagen-testimonial img {
    /* border-radius: 50%; */
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
    border-radius: 1.5%;
    max-width: 100%;
    -webkit-transition: all .5s ease-in-out;
    /* opacity: 0.1; */
}

.imagen-testimonial:hover img {
    -webkit-transform: scale(1.1);
    transform: rotate(3deg);
}

ul.lista-testimonial li {
    float: left;
    padding: 10px;
    /* width: 33.3%; */
}

@media(min-width:480px) {
    ul.lista-testimonial li {
        width: 50%;
    }
}

@media(min-width:768px) {
    ul.lista-testimonial li {
        width: 33.3%;
    }
}

.testimonial {
    position: relative;
    overflow: hidden;
}

.testimonial img {
    max-width: 100%;
    filter: gray;
    /* -webkit-filter: grayscale(1); */
    -webkit-transition: all .5s ease-in-out;
    height: 12.3rem;
}

@media(min-width:768px) {
    .testimonial img {
        max-width: 100%;
        filter: gray;
        -webkit-transition: all .5s ease-in-out;
        height: 12rem;
    }
}

.testimonial img:hover {
    /* -webkit-filter: grayscale(0); */
    -webkit-transform: scale(1.3);
    /* transform: rotate(3deg); */
}

.testimonial p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100%;
    text-align: left;
    /* font-family: 'Oswald', sans-serif; */
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
}

@media (min-width:768px) {
    .testimonial p {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px 10px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.70);
        width: 100%;
        text-align: left;
        /* font-family: 'Oswald', sans-serif; */
        color: #ffffff;
        text-transform: uppercase;
        -webkit-transition: all .5s ease-in-out;
    }
}

.testimonial:hover p {
    bottom: -80px;
    opacity: 0;
}

ul.no-diseño {
    list-style: none;
}

.testimonial span {
    color: rgb(1, 255, 255);
}


/********* CONTENIDO CONTACTO *********/

.titulo-contacto {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 2rem;
    color: #000000;
}

h1.contacto {
    font-size: 4vw;
    color: #ffffff;
}


/******** FOOTER ********/

.footer-home {
    background-color: rgba( 0, 0, 0, .9);
    margin-top: 50px;
    width: 100%;
    height: 100px;
}

.footer-home p {
    text-align: center;
    padding-top: 2.5rem;
}


/********* FORMULARIO CONTACTO *********/

.contact-form {
    background-color: rgba(0, 0, 0, 1);
    margin-top: 100px;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 10px 3px #000000;
    border-radius: 1%;
    text-align: center;
}

@media (min-width:768px) {
    .contact-form {
        box-shadow: 0px 0px 10px 3px #000000;
        text-align: left;
    }
}

.imagen-contacto img {
    /* border-radius: 1.5%; */
    max-width: 100%;
    /* filter: gray;
    -webkit-filter: grayscale(1); */
    -webkit-transition: all .5s ease-in-out;
}

.imagen-contacto:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1, 1);
    transform: rotate(3deg);
}

.h1-upercase {
    text-transform: uppercase;
}


/********* CAPTCHA *********/

.captcha {
    padding-top: 1rem;
}

.captcha-instruccion {
    color: darkkhaki;
}


/********* BANNER DESCARGAR APP *********/

.parallax::before {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}

.banner-store {
    position: relative;
    height: auto;
}

.banner-store::before {
    background-image: url(assets/img/espacio-fondo.jpg);
    content: '';
}

.resumen-evento li {
    width: 100%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    list-style: none;
}

.resumen-evento {
    position: relative;
    padding: 120px 0;
}


/* .resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    list-style: none;
} */


/********* BANNER SOLUCIÓN INICIO *********/

.imga-banner-inicio img {
    width: 450px;
    height: 450px;
    margin-bottom: 1rem;
    border-radius: 150%;
}

.contenido-banner-inicio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10rem;
    margin-bottom: 2rem;
    /* font-family: 'Oswald', sans-serif; */
}

.resumen-banner-inicio li {
    width: 100%;
    float: left;
    /* text-align: center; */
    /* text-transform: uppercase; */
    font-size: 25px;
    /* list-style: none; */
}

.resumen-banner-inicio {
    position: relative;
    padding: 120px 0;
}

@media(min-width:768px) {
    .resumen-banner-inicio li {
        /* width: 100%; */
    }
}

.h4-banner-inicio {
    /* margin-top: 4rem; */
    padding-top: 4rem;
}