<div class="color-reportes-top">

</div>
<section id="login" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}" class="bottom-login">
    <div class="container ">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="col-md-12">




                    <form class="container top-ques " (ngSubmit)="reportForm(formReportes)" #formReportes="ngForm" onsubmit="return submitUserForm();">
                        <img src="assets/img/iconoEA.png" class="icono-login">
                        <h3 class="text-center titulo-reporte ">Reporte</h3>

                        <!-- MENSAJE DE ERROR -->
                        <div *ngIf="formReportes.submitted && formReportes.controls['cuenta'].errors" class="alert alert-danger" role="alert">
                            Ingrese número de cuenta
                        </div>

                        <div class="input-group  form-group">
                            <!-- <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span> -->
                            <span class="input-group-text span-label" id="basic-addon1">Número de cuenta</span>
                            <input type="text" class="form-control" name="cuenta" ngModel required [(ngModel)]="reportUser.cuenta">

                        </div>

                        <div *ngIf="formReportes.submitted && formReportes.controls['departamento'].errors" class="alert alert-danger" role="alert">
                            Seleccione un departamento
                        </div>

                        <div class=" form-group">

                            <div class="input-group">
                                <!-- <span class="input-group-text span-label" id="basic-addon1"><i class="fas fa-user-cog"></i></span> -->
                                <span class="input-group-text span-label" id="basic-addon1">Departamento</span>
                                <select class=" form-control" aria-label="Default select example" name="departamento" ngModel required [(ngModel)]="reportUser.departamento">
                                    <option selected disabled>Departamento</option>
                                    <option value="Ventas">Ventas</option>
                                    <option value="Desarrollo">Desarrollo</option>
                                    <option value="Pagos">Pagos</option>
                                    <option value="facturación">Facturación</option>
                                  </select>


                            </div>

                        </div>
                        <!-- MENSAJE DE ERROR -->
                        <div *ngIf="formReportes.submitted && formReportes.controls['prioridad'].errors" class="alert alert-danger" role="alert">
                            Selecciona una prioridad
                        </div>
                        <!-- FIN MENSAJE DE ERROR -->
                        <div class=" form-group">
                            <div class="input-group">

                                <span class="input-group-text span-label" id="basic-addon1"> Prioridad</span>
                                <select class="form-select form-control" aria-label="Default select example" name="prioridad" ngModel required [(ngModel)]="reportUser.prioridad">
                                    <option selected disabled>Prioridad</option>
                                    <option value="Bajo">Bajo</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Urgente">Urgente</option>
                                  </select>
                            </div>

                        </div>


                        <div *ngIf="formReportes.submitted && formReportes.controls['asunto'].errors" class="alert alert-danger" role="alert">
                            Ingrese asunto del mensaje
                        </div>
                        <div class="input-group form-group">
                            <!-- <span class="input-group-text span-label" id="basic-addon1"><i class="fas fa-envelope"></i></span> -->
                            <span class="input-group-text span-label" id="basic-addon1">Asunto</span>
                            <input type="text" class="form-control" name="asunto" id="" ngModel required [(ngModel)]="reportUser.asunto">
                        </div>

                        <div *ngIf="formReportes.submitted && formReportes.controls['mensaje'].errors" class="alert alert-danger" role="alert">
                            Escriba el mensaje del reporte
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" name="mensaje" placeholder="Escribir mensaje del reporte..." style="height: 200px" ngModel required [(ngModel)]="reportUser.reporte"></textarea>

                        </div>
                        <div class="input-group form-group">

                            <!-- <label for="formFileDisabled" class="form-label">Disabled file input example</label> -->

                            <input class="form-control" type="file" id="formFileDisabled">

                        </div>




                        <div id="loadcaptcha" class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();  ">
                            Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
                        </div>
                        <!-- <div class="g-recaptcha " id="loadcaptcha" style="color:cornsilk;" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                            Favor de resolver el reCAPTCHA, en caso de que no aparezca vuelva a recargar la página.
                        </div> -->
                        <div id="g-recaptcha-error"></div>


                        <div class="centrar-texto seccion">
                            <!-- <button type="submit" id="btn1" name="submit" value="submit" class="btn  btn-primary btn-lg btn-block" disabled> Envíar </button> -->
                            <button type="submit" id="btn1" value="submit" name="submit" class="btn btn-primary btn-block boton-login" disabled>Envíar</button>
                        </div>
                        <!-- <button class="btn btn-success"> prueba</button> -->

                    </form>



                </div>
            </div>
        </div>
    </div>
</section>