<!--? ************************************* -->
<div class="color-reportes-top"></div>

<div class="container ">

    <div class="card card-reportes-margin text-center">
        <div class="card-body card-reportes-body">
            <p class="titulo-nombre-salir text-muted">{{nombre}} <span> | </span> <a (click)="delete()">Cerrar Sesión</a></p>

            <h1>Bienvenido al soporte de easyaccess</h1>
            <p>Contamos con un sistema de tickets para nuestros usuarios, comunícate con nuestros diferentes departamentos para aclarar dudas o reportar alguna queja.
            </p>
            <p><i class="fas fa-users-cog fa-7x"></i></p>


            <button type="button" class="btn btn-primary botton-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Realizar un Ticket</button>
        </div>
    </div>
</div>


<!-- ******** MODAL ********* -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngsReveal]="{reset:false, duration:2000, origin:'left', distance:'400px'}">
    <div class="modal-dialog ">
        <div class="modal-content modal-syle">
            <div class="modal-header titulo-ticket">
                <h5 class="modal-title text-muted">Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="reportForm(formReportes)" #formReportes="ngForm" onsubmit="return submitUserForm();">


                    <input type="text" class="form-control invisible" name="usuario" ngModel required [(ngModel)]="reportUser.id_usuario">

                    <div class="row g-2 mb-3">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select form-control floating-campo-margin " id="floatingSelectGrid1" aria-label="Floating label select example" name="departamento" ngModel required [(ngModel)]="reportUser.departamento">
                                    <option selected disabled>Seleccionar departamento</option>
                                    <option *ngFor="let departame of departamento" [value]='departame.id_departamento' >{{departame.departamento}}</option>
                                  
                            </select>
                                <label for="floatingSelect">Departamento</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select form-control floating-campo-margin " id="floatingSelectGrid2" aria-label="Floating label select example" name="prioridad" ngModel required [(ngModel)]="reportUser.prioridad">
                                    <option selected disabled>Seleccionar prioridad</option>
                                    <option value="Bajo">Bajo</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Urgente">Urgente</option>
                            </select>


                                <label for="floatingSelect">Prioridad</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="email" class="form-control floating-campo-margin " id="floatingInput2" placeholder="name@example.com" name="asunto" ngModel required [(ngModel)]="reportUser.asunto">
                        <label for="floatingInput" class="text-muted">Asunto</label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control floating-campo-margin " placeholder="Leave a comment here" id="floatingTextarea2" name="reporte" style="height: 100px" ngModel required [(ngModel)]="reportUser.reporte"></textarea>
                        <label for="floatingTextarea2" class="text-muted">Escribir mensaje</label>
                    </div>

                    <div class="mb-3 file-margin ">
                        <input class="form-control" type="file" name="image" accept="image/png, image/jpeg" (change)="selectimage($event)">
                    </div>
                    <div class="card" style="width: 10rem;">
                        <img [src]="imgURL" class="card-img-top" alt="imagen">

                    </div>

                    <!--  *CAPTCHA LOCAL PARA PRUEBAS* -->
                    <div id="loadcaptcha" class="g-recaptcha margin-captcha" style="color:cornsilk;" data-sitekey="6LdX_yEaAAAAAPNF3LIK63eRAGDXwiiHdvEtaFqw" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();  ">
                        Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
                    </div>
                    <!--  *CAPTCHA EN PRODUCCIÓN* -->
                    <!-- <div class="g-recaptcha margin-captcha" id="loadcaptcha" style="color:cornsilk;" data-sitekey="6LeOrSkaAAAAAPNEOGMB5AkWCJ_IDywCIh4zGKmb" data-callback="verifyCaptcha" href="javascript:reloadCaptcha();">
                        Favor de resolver el reCAPTCHA, en caso de que no aparezca vuelva a recargar la página.
                    </div> -->
                    <div id="g-recaptcha-error"></div>

                    <div class="modal-footer modal-footer-ticket">

                        <button type="submit" id="btn1" value="submit" name="submit" class="btn btn-primary ticket-button" disabled>Envíar</button>

                    </div>
                </form>

            </div>

        </div>
    </div>
</div>